
html {
	font-size:40.9%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.nhn-vin-nhn-n-hng-d57 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.nhn-vin-nhn-n-hng-d57 .group-287-va1 {
  box-sizing: border-box;
  padding: 2.2rem 13.5rem 2.4rem 20.1rem;
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-287-va1 .group-278-Dp1 {
  margin: 0.3rem 1.9rem 0.1rem 0rem;
  width: 5rem;
  height: calc(100% - 0.4rem);
  border: solid 0.2rem #ffba08;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-287-va1 .group-278-Dp1 .letter-f-1-wV7 {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
}
.nhn-vin-nhn-n-hng-d57 .group-287-va1 .fastfood-2WZ {
  margin-right: 91.8rem;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-287-va1 .staff-Ln9 {
  margin: 0.2rem 4.4rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-287-va1 .huonggiang7657gmailcom-FeD {
  margin-top: 0.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH {
  box-sizing: border-box;
  padding: 5rem 5rem 4.6rem 5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT {
  margin-right: 6.1rem;
  width: 110rem;
  row-gap: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .auto-group-vrem-M4y {
  box-sizing: border-box;
  padding: 2.1rem 3rem;
  width: 100%;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #fae0e4;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-350-e45 {
  box-sizing: border-box;
  padding: 1rem 2.1rem 1.1rem 0rem;
  width: 100%;
  height: 18rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-350-e45 .de-lekkerste-rewards-en-deals-1-mPb {
  margin: 0.133rem 3.853rem 0rem 0rem;
  width: 19.6467rem;
  height: 10.8333rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/de-lekkerste-rewards-en-deals-1-bg-iqT.png');
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-350-e45 .auto-group-wd5w-47o {
  margin-right: 3.8rem;
  width: 34.3rem;
  height: 100%;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-350-e45 .auto-group-wd5w-47o .n-hng-006-133 {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-350-e45 .auto-group-wd5w-47o .auto-group-mw6d-XXB {
  width: 100%;
  height: 12.4rem;
  position: relative;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-350-e45 .auto-group-wd5w-47o .auto-group-mw6d-XXB .danh-mc-mn--sL9 {
  width: 16.4rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-350-e45 .auto-group-wd5w-47o .auto-group-mw6d-XXB .tng-gi-tr-159000--Uqj {
  width: 25.5rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 8.9rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-350-e45 .auto-group-wd5w-47o .auto-group-mw6d-XXB .i-g-st-hs-mpq {
  width: 13.9rem;
  height: 3.2rem;
  position: absolute;
  left: 20.4rem;
  top: 0.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-350-e45 .auto-group-wd5w-47o .auto-group-mw6d-XXB .i-g-st-hs-5ad {
  width: 13.9rem;
  height: 3.2rem;
  position: absolute;
  left: 20.4rem;
  top: 3.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-350-e45 .auto-group-wd5w-47o .auto-group-mw6d-XXB .item--nzq {
  width: 1.1rem;
  height: 3.2rem;
  position: absolute;
  left: 26.7rem;
  top: 6.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-350-e45 .auto-group-1qku-7GR {
  margin: 3.7rem 4.2rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-350-e45 .auto-group-1qku-7GR .nguyn-vn-a-Ebw {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-350-e45 .auto-group-1qku-7GR .l-vn-lng-tn-phong-qun-7-tphcm-Zu7 {
  max-width: 24.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-350-e45 .auto-group-1qku-7GR .item-0123456789-V25 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-350-e45 .group-349-csP {
  margin: 6rem 0rem 5.9rem 0rem;
  width: 18rem;
  height: calc(100% - 11.9rem);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.57;
  color: #ffffff;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d00000;
  border-radius: 1rem;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-351-pyT {
  box-sizing: border-box;
  padding: 1rem 2.1rem 1.1rem 0rem;
  width: 100%;
  height: 18rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-351-pyT .korean-fried-chicken-with-soy-garlic-glaze-2-9Vw {
  margin: 0.076rem 3.9rem 0rem 0rem;
  width: 19.6rem;
  height: 13.1765rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-351-pyT .auto-group-fur5-FJ5 {
  margin-right: 3.8rem;
  width: 34.3rem;
  height: 100%;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-351-pyT .auto-group-fur5-FJ5 .n-hng-006-noo {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-351-pyT .auto-group-fur5-FJ5 .auto-group-sdgh-XmP {
  width: 100%;
  height: 12.4rem;
  position: relative;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-351-pyT .auto-group-fur5-FJ5 .auto-group-sdgh-XmP .danh-mc-mn--saM {
  width: 16.4rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-351-pyT .auto-group-fur5-FJ5 .auto-group-sdgh-XmP .tng-gi-tr-159000--z9B {
  width: 25.5rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 8.9rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-351-pyT .auto-group-fur5-FJ5 .auto-group-sdgh-XmP .i-g-st-hs-5RX {
  width: 13.9rem;
  height: 3.2rem;
  position: absolute;
  left: 20.4rem;
  top: 0.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-351-pyT .auto-group-fur5-FJ5 .auto-group-sdgh-XmP .i-g-st-hs-zHb {
  width: 13.9rem;
  height: 3.2rem;
  position: absolute;
  left: 20.4rem;
  top: 3.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-351-pyT .auto-group-fur5-FJ5 .auto-group-sdgh-XmP .item--VVF {
  width: 1.1rem;
  height: 3.2rem;
  position: absolute;
  left: 26.7rem;
  top: 6.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-351-pyT .auto-group-cujb-oVw {
  margin: 3.7rem 4.2rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-351-pyT .auto-group-cujb-oVw .nguyn-vn-a-941 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-351-pyT .auto-group-cujb-oVw .l-vn-lng-tn-phong-qun-7-tphcm-5TT {
  max-width: 24.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-351-pyT .auto-group-cujb-oVw .item-0123456789-BWV {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-351-pyT .group-349-iFX {
  margin: 6rem 0rem 5.9rem 0rem;
  width: 18rem;
  height: calc(100% - 11.9rem);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.57;
  color: #ffffff;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d00000;
  border-radius: 1rem;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-352-xQm {
  box-sizing: border-box;
  padding: 1rem 2.1rem 1.1rem 0.6rem;
  width: 100%;
  height: 18rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-352-xQm .chicken-selects-chicken-breast-meat-2-5kH {
  margin: 0.416rem 3.4rem 0rem 0rem;
  width: 19.5rem;
  height: 11.1163rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-352-xQm .auto-group-lc1j-BYR {
  margin-right: 3.8rem;
  width: 34.3rem;
  height: 100%;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-352-xQm .auto-group-lc1j-BYR .n-hng-006-X6V {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-352-xQm .auto-group-lc1j-BYR .auto-group-26xv-FoB {
  width: 100%;
  height: 12.4rem;
  position: relative;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-352-xQm .auto-group-lc1j-BYR .auto-group-26xv-FoB .danh-mc-mn--oJu {
  width: 16.4rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-352-xQm .auto-group-lc1j-BYR .auto-group-26xv-FoB .tng-gi-tr-159000--Wz1 {
  width: 25.5rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 8.9rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-352-xQm .auto-group-lc1j-BYR .auto-group-26xv-FoB .i-g-st-hs-D7j {
  width: 13.9rem;
  height: 3.2rem;
  position: absolute;
  left: 20.4rem;
  top: 0.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-352-xQm .auto-group-lc1j-BYR .auto-group-26xv-FoB .i-g-st-hs-WMj {
  width: 13.9rem;
  height: 3.2rem;
  position: absolute;
  left: 20.4rem;
  top: 3.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-352-xQm .auto-group-lc1j-BYR .auto-group-26xv-FoB .item--1ZP {
  width: 1.1rem;
  height: 3.2rem;
  position: absolute;
  left: 26.7rem;
  top: 6.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-352-xQm .auto-group-rz2h-KKB {
  margin: 3.7rem 4.2rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-352-xQm .auto-group-rz2h-KKB .nguyn-vn-a-2UV {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-352-xQm .auto-group-rz2h-KKB .l-vn-lng-tn-phong-qun-7-tphcm-ZjK {
  max-width: 24.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-352-xQm .auto-group-rz2h-KKB .item-0123456789-H9X {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-352-xQm .group-349-Qzq {
  margin: 6rem 0rem 5.9rem 0rem;
  width: 18rem;
  height: calc(100% - 11.9rem);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.57;
  color: #ffffff;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d00000;
  border-radius: 1rem;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-353-3nu {
  box-sizing: border-box;
  padding: 1rem 2.1rem 1.1rem 0.3rem;
  width: 100%;
  height: 18rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-353-3nu .bf590-4ee1-4e85-8064-d08f4d7c9740-1-miu {
  margin: 0rem 3.7rem 1.224rem 0rem;
  width: 19.5rem;
  height: 14.6763rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-353-3nu .auto-group-g4az-U7X {
  margin-right: 3.8rem;
  width: 34.3rem;
  height: 100%;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-353-3nu .auto-group-g4az-U7X .n-hng-006-ovV {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-353-3nu .auto-group-g4az-U7X .auto-group-jyhx-wmo {
  width: 100%;
  height: 12.4rem;
  position: relative;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-353-3nu .auto-group-g4az-U7X .auto-group-jyhx-wmo .danh-mc-mn--gzH {
  width: 16.4rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-353-3nu .auto-group-g4az-U7X .auto-group-jyhx-wmo .tng-gi-tr-159000--1mf {
  width: 25.5rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 8.9rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-353-3nu .auto-group-g4az-U7X .auto-group-jyhx-wmo .i-g-st-hs-WyK {
  width: 13.9rem;
  height: 3.2rem;
  position: absolute;
  left: 20.4rem;
  top: 0.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-353-3nu .auto-group-g4az-U7X .auto-group-jyhx-wmo .i-g-st-hs-E8d {
  width: 13.9rem;
  height: 3.2rem;
  position: absolute;
  left: 20.4rem;
  top: 3.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-353-3nu .auto-group-g4az-U7X .auto-group-jyhx-wmo .item--vff {
  width: 1.1rem;
  height: 3.2rem;
  position: absolute;
  left: 26.7rem;
  top: 6.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-353-3nu .auto-group-r3hp-q1w {
  margin: 3.7rem 4.2rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-353-3nu .auto-group-r3hp-q1w .nguyn-vn-a-mAV {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-353-3nu .auto-group-r3hp-q1w .l-vn-lng-tn-phong-qun-7-tphcm-W85 {
  max-width: 24.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-353-3nu .auto-group-r3hp-q1w .item-0123456789-1ad {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-h7uy-DjT .group-353-3nu .group-349-wUH {
  margin: 6rem 0rem 5.9rem 0rem;
  width: 18rem;
  height: calc(100% - 11.9rem);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.57;
  color: #ffffff;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d00000;
  border-radius: 1rem;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .line-22-kRj {
  margin-right: 5.7rem;
  width: 0.2rem;
  height: 90rem;
  background-color: #ff4d6d;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R {
  width: 60rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-rwn5-Ebo {
  box-sizing: border-box;
  padding: 2.1rem 3rem;
  width: 100%;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #fae0e4;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP {
  box-sizing: border-box;
  padding: 2rem 0rem 0rem 0.2rem;
  width: 100%;
  row-gap: 2rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-355-fh7 {
  box-sizing: border-box;
  padding: 2.5rem 2.1rem 2.5rem 2rem;
  width: 100%;
  height: 13rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-355-fh7 .auto-group-t9df-BvM {
  margin-right: 2.8rem;
  box-sizing: border-box;
  padding-left: 5.5rem;
  width: 8rem;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-1-1-bg-bEM.png');
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-355-fh7 .auto-group-t9df-BvM .group-354-XUR {
  width: 100%;
  height: 2.6rem;
  position: relative;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-355-fh7 .auto-group-t9df-BvM .group-354-XUR .ellipse-28-5F3 {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffba08;
  border-radius: 1.25rem;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-355-fh7 .auto-group-t9df-BvM .group-354-XUR .item-2-CaZ {
  width: 1rem;
  height: 2.6rem;
  position: absolute;
  left: 0.8rem;
  top: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.57;
  color: #ffffff;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-355-fh7 .auto-group-wtqj-h1X {
  margin: 0.7rem 15.1rem 0.7rem 0rem;
  width: 13rem;
  height: calc(100% - 1.4rem);
  position: relative;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-355-fh7 .auto-group-wtqj-h1X .hzangggg-P9F {
  width: 10.6rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-355-fh7 .auto-group-wtqj-h1X .cho-em-hi--f6m {
  width: 13rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 3.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-355-fh7 .item-11-30-19-11-2023-vYV {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-356-bed {
  box-sizing: border-box;
  padding: 2.5rem 2.1rem 2.5rem 2rem;
  width: 100%;
  height: 13rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-356-bed .auto-group-gbtt-X2V {
  margin-right: 2.8rem;
  box-sizing: border-box;
  padding-left: 5.5rem;
  width: 8rem;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-1-1-bg.png');
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-356-bed .auto-group-gbtt-X2V .group-354-ecu {
  width: 100%;
  height: 2.6rem;
  position: relative;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-356-bed .auto-group-gbtt-X2V .group-354-ecu .ellipse-28-CeR {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffba08;
  border-radius: 1.25rem;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-356-bed .auto-group-gbtt-X2V .group-354-ecu .item-2-8Y5 {
  width: 1rem;
  height: 2.6rem;
  position: absolute;
  left: 0.8rem;
  top: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.57;
  color: #ffffff;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-356-bed .auto-group-fl5t-DZX {
  margin: 0.7rem 15.1rem 0.7rem 0rem;
  width: 13rem;
  height: calc(100% - 1.4rem);
  position: relative;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-356-bed .auto-group-fl5t-DZX .hzangggg-9CH {
  width: 10.6rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-356-bed .auto-group-fl5t-DZX .cho-em-hi--Gnh {
  width: 13rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 3.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-356-bed .item-11-30-19-11-2023-mzM {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-357-U85 {
  box-sizing: border-box;
  padding: 2.5rem 2.1rem 2.5rem 2rem;
  width: 100%;
  height: 13rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-357-U85 .auto-group-rzs5-PVw {
  margin-right: 2.8rem;
  box-sizing: border-box;
  padding-left: 5.5rem;
  width: 8rem;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-1-1-bg-Qus.png');
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-357-U85 .auto-group-rzs5-PVw .group-354-XMF {
  width: 100%;
  height: 2.6rem;
  position: relative;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-357-U85 .auto-group-rzs5-PVw .group-354-XMF .ellipse-28-gV3 {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffba08;
  border-radius: 1.25rem;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-357-U85 .auto-group-rzs5-PVw .group-354-XMF .item-2-ctV {
  width: 1rem;
  height: 2.6rem;
  position: absolute;
  left: 0.8rem;
  top: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.57;
  color: #ffffff;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-357-U85 .auto-group-4jez-huw {
  margin: 0.7rem 15.1rem 0.7rem 0rem;
  width: 13rem;
  height: calc(100% - 1.4rem);
  position: relative;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-357-U85 .auto-group-4jez-huw .hzangggg-d2u {
  width: 10.6rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-357-U85 .auto-group-4jez-huw .cho-em-hi--Yff {
  width: 13rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 3.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-357-U85 .item-11-30-19-11-2023-fEV {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-358-ABF {
  box-sizing: border-box;
  padding: 2.5rem 2.1rem 2.5rem 2rem;
  width: 100%;
  height: 13rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-358-ABF .auto-group-kqb7-gfP {
  margin-right: 2.8rem;
  box-sizing: border-box;
  padding-left: 5.5rem;
  width: 8rem;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-1-1-bg-YQd.png');
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-358-ABF .auto-group-kqb7-gfP .group-354-oED {
  width: 100%;
  height: 2.6rem;
  position: relative;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-358-ABF .auto-group-kqb7-gfP .group-354-oED .ellipse-28-YxV {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffba08;
  border-radius: 1.25rem;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-358-ABF .auto-group-kqb7-gfP .group-354-oED .item-2-sjs {
  width: 1rem;
  height: 2.6rem;
  position: absolute;
  left: 0.8rem;
  top: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.57;
  color: #ffffff;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-358-ABF .auto-group-gmwm-y2D {
  margin: 0.7rem 15.1rem 0.7rem 0rem;
  width: 13rem;
  height: calc(100% - 1.4rem);
  position: relative;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-358-ABF .auto-group-gmwm-y2D .hzangggg-Hob {
  width: 10.6rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-358-ABF .auto-group-gmwm-y2D .cho-em-hi--R97 {
  width: 13rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 3.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-358-ABF .item-11-30-19-11-2023-itu {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-359-RHX {
  box-sizing: border-box;
  padding: 2.5rem 2.1rem 2.5rem 2rem;
  width: 100%;
  height: 13rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-359-RHX .auto-group-ge4m-wmf {
  margin-right: 2.8rem;
  box-sizing: border-box;
  padding-left: 5.5rem;
  width: 8rem;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/user-1-1-bg-q57.png');
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-359-RHX .auto-group-ge4m-wmf .group-354-57B {
  width: 100%;
  height: 2.6rem;
  position: relative;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-359-RHX .auto-group-ge4m-wmf .group-354-57B .ellipse-28-pqT {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffba08;
  border-radius: 1.25rem;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-359-RHX .auto-group-ge4m-wmf .group-354-57B .item-2-Zo3 {
  width: 1rem;
  height: 2.6rem;
  position: absolute;
  left: 0.8rem;
  top: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.57;
  color: #ffffff;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-359-RHX .auto-group-fngm-GBf {
  margin: 0.7rem 15.1rem 0.7rem 0rem;
  width: 13rem;
  height: calc(100% - 1.4rem);
  position: relative;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-359-RHX .auto-group-fngm-GBf .hzangggg-C5K {
  width: 10.6rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-359-RHX .auto-group-fngm-GBf .cho-em-hi--X7b {
  width: 13rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 3.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .auto-group-zhkq-4bf .auto-group-fems-V8R .auto-group-15nv-YsP .group-359-RHX .item-11-30-19-11-2023-dRX {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .group-311-utq {
  margin: 0rem 72rem 0rem 85.3rem;
  width: calc(100% - 157.3rem);
  height: 5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .group-311-utq .auto-group-kd9o-RsB {
  width: 5rem;
  height: 100%;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #ffffff;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 1rem 0 0 1rem;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .group-311-utq .auto-group-yyhs-Wtd {
  width: 19.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .group-311-utq .auto-group-yyhs-Wtd .rectangle-113-49T {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.05rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .group-311-utq .auto-group-yyhs-Wtd .rectangle-114-PSd {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 4.9rem;
  top: 0;
  border: solid 0.05rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .group-311-utq .auto-group-yyhs-Wtd .rectangle-115-vSZ {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 9.8rem;
  top: 0;
  border: solid 0.05rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .group-311-utq .auto-group-yyhs-Wtd .rectangle-116-3n5 {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 14.7rem;
  top: 0;
  border: solid 0.05rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0 1rem 1rem 0;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .group-311-utq .auto-group-yyhs-Wtd .item-2-mTB {
  width: 1.3rem;
  height: 3.5rem;
  position: absolute;
  left: 1.8rem;
  top: 0.7rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .group-311-utq .auto-group-yyhs-Wtd .item-3-5Cy {
  width: 1.4rem;
  height: 3.5rem;
  position: absolute;
  left: 6.6rem;
  top: 0.7rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .group-311-utq .auto-group-yyhs-Wtd .item--nt5 {
  width: 1.2rem;
  height: 3.5rem;
  position: absolute;
  left: 11.6rem;
  top: 0.7rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .auto-group-k5ch-jpH .group-311-utq .auto-group-yyhs-Wtd .item-23-i13 {
  width: 2.6rem;
  height: 3.5rem;
  position: absolute;
  left: 15.8rem;
  top: 0.7rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R {
  box-sizing: border-box;
  padding: 6.5rem 23.1rem 7.666rem 21.9rem;
  width: 100%;
  height: 45.4rem;
  display: flex;
  align-items: center;
  background-color: #333333;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .auto-group-7fvo-vcu {
  margin-right: 7.4rem;
  width: 48.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .auto-group-7fvo-vcu .auto-group-7ywb-Tsj {
  box-sizing: border-box;
  padding: 0 0.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .auto-group-7fvo-vcu .auto-group-7ywb-Tsj .group-278-ogh {
  margin: 0rem 0rem 1.5rem 8.3rem;
  width: 10rem;
  border: solid 0.4rem #ffba08;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 4rem;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .auto-group-7fvo-vcu .auto-group-7ywb-Tsj .group-278-ogh .letter-f-1-YPP {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  vertical-align: top;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .auto-group-7fvo-vcu .auto-group-7ywb-Tsj .fastfoodcom-FYh {
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .auto-group-7fvo-vcu .group-282-BSM {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .auto-group-7fvo-vcu .group-282-BSM .auto-group-acjf-LKF {
  margin: 0rem 25.1rem 1.647rem 0.248rem;
  width: calc(100% - 25.3476rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .auto-group-7fvo-vcu .group-282-BSM .auto-group-acjf-LKF .icon-alternate-phone-4W9 {
  margin-right: 1.6524rem;
  width: 2.7rem;
  height: 2.9531rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .auto-group-7fvo-vcu .group-282-BSM .auto-group-acjf-LKF .item-084-0123456789-Bam {
  margin-bottom: 0.2531rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .auto-group-7fvo-vcu .group-282-BSM .auto-group-6zeu-tzy {
  margin: 0rem 0rem 1.606rem 0.148rem;
  width: calc(100% - 0.1476rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .auto-group-7fvo-vcu .group-282-BSM .auto-group-6zeu-tzy .icon-alternate-map-marker-EZ3 {
  margin-right: 2.4274rem;
  width: 2.025rem;
  height: 2.9531rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .auto-group-7fvo-vcu .group-282-BSM .auto-group-6zeu-tzy .nguyn-hu-th-phng-tn-phong-q7-ZbK {
  margin-bottom: 0.2938rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .auto-group-7fvo-vcu .group-282-BSM .auto-group-u7wk-GVj {
  margin-right: 23.9rem;
  width: calc(100% - 23.9rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .auto-group-7fvo-vcu .group-282-BSM .auto-group-u7wk-GVj .icon-at-pGM {
  margin-right: 1.9261rem;
  width: 2.6739rem;
  height: 2.9531rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .auto-group-7fvo-vcu .group-282-BSM .auto-group-u7wk-GVj .fastfoodgmailcom-A5K {
  margin-bottom: 0.3344rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .group-285-5TB {
  margin: 0rem 13.3rem 9.234rem 0rem;
  width: 15.7rem;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .group-285-5TB .thng-tin-p9s {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .group-285-5TB .group-280-kZK {
  width: 100%;
  row-gap: 1.2rem;
  display: flex;
  flex-direction: column;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .group-285-5TB .group-280-kZK .tin-tc-JKw {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .group-285-5TB .group-280-kZK .tuyn-dng-qKs {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .group-285-5TB .group-280-kZK .khuyn-mi-Nqb {
  margin-left: 0.1rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .group-285-5TB .group-280-kZK .nhng-quyn-hcy {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .group-284-qjB {
  margin: 0rem 13rem 13.934rem 0rem;
  width: 24rem;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .group-284-qjB .h-tr-awf {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .group-284-qjB .group-281-8TP {
  width: 100%;
  row-gap: 1.2rem;
  display: flex;
  flex-direction: column;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .group-284-qjB .group-281-8TP .bo-mt-thng-tin-H5P {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .group-284-qjB .group-281-8TP .chnh-sch-giao-hng-DUq {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .group-284-qjB .group-281-8TP .chm-sc-khch-hng-xSR {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .group-283-tL5 {
  margin-bottom: 18.1344rem;
  width: 25.4rem;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .group-283-tL5 .fastfood-social-qFK {
  margin-bottom: 2.7rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .group-283-tL5 .auto-group-zfzm-NFF {
  margin-right: 11.3621rem;
  width: calc(100% - 11.3621rem);
  display: flex;
  align-items: center;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .group-283-tL5 .auto-group-zfzm-NFF .vector-KRP {
  margin-right: 2rem;
  width: 6.0365rem;
  height: 6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.nhn-vin-nhn-n-hng-d57 .group-29-c6R .group-283-tL5 .auto-group-zfzm-NFF .vector-eCm {
  width: 6.0013rem;
  height: 6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
