
html {
	font-size:40.9%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.trang-lch-s-n-hng-G8d {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.trang-lch-s-n-hng-G8d .group-279-x1T {
  box-sizing: border-box;
  padding: 2.2rem 14.68rem 2.2rem 13.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #d00000;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-279-x1T .group-278-TD7 {
  margin: 0.2rem 31.8rem 0rem 0rem;
  height: 5.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-279-x1T .group-278-TD7 .auto-group-3q1k-AtD {
  margin: 0.1rem 2rem 0.3rem 0rem;
  width: 5rem;
  height: calc(100% - 0.4rem);
  border: solid 0.2rem #ffba08;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-279-x1T .group-278-TD7 .auto-group-3q1k-AtD .letter-f-1-Hhw {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
}
.trang-lch-s-n-hng-G8d .group-279-x1T .group-278-TD7 .fastfood-bTj {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.57;
  color: #ffffff;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-279-x1T .group-135-K8q {
  margin: 0rem 5.6rem 0.1rem 0rem;
  box-sizing: border-box;
  padding: 0.5rem 0.5rem 0.5rem 2.4rem;
  display: flex;
  align-items: center;
  border: solid 0.05rem #858585;
  background-color: #ffffff;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-279-x1T .group-135-K8q .tm-kim-ctd {
  margin: 0.1rem 27.6rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.57;
  color: #858585;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-279-x1T .group-135-K8q .group-134-86H {
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-279-x1T .thc-n-2hT {
  margin-right: 5.3rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.57;
  color: #ffffff;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-279-x1T .khuyn-mi-91P {
  margin: 0rem 4.88rem 0.2rem 0rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.57;
  color: #ffffff;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-279-x1T .group-180-fEd {
  margin-bottom: 0.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-279-x1T .group-180-fEd .group-177-1ZP {
  margin: 0rem 2.705rem 0.09rem 0rem;
  box-sizing: border-box;
  padding: 0.992rem 0.672rem 0.811rem 0.721rem;
  height: 5.4098rem;
  background-color: #ffffff;
  border-radius: 2.7049rem;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-279-x1T .group-180-fEd .group-177-1ZP .icon-user-circle-JoP {
  width: 4.0162rem;
  height: 3.6066rem;
  object-fit: contain;
  vertical-align: top;
}
.trang-lch-s-n-hng-G8d .group-279-x1T .group-180-fEd .group-179-cZB {
  margin: 0rem 2.705rem 0.09rem 0rem;
  box-sizing: border-box;
  padding: 1.172rem 0.903rem 1.082rem 0.992rem;
  height: 5.4098rem;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 2.7049rem;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-279-x1T .group-180-fEd .group-179-cZB .icon-shopping-cart-is7 {
  width: 3.5154rem;
  height: 3.1557rem;
  object-fit: contain;
  vertical-align: top;
}
.trang-lch-s-n-hng-G8d .group-279-x1T .group-180-fEd .group-178-EaZ {
  margin-top: 0.0902rem;
  box-sizing: border-box;
  padding: 0.902rem 0.904rem 0.902rem 0.992rem;
  height: 5.4098rem;
  background-color: #ffffff;
  border-radius: 2.7049rem;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-279-x1T .group-180-fEd .group-178-EaZ .icon-bell-Zcq {
  width: 3.5142rem;
  height: 3.6066rem;
  object-fit: contain;
  vertical-align: top;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh {
  width: 100%;
  height: 100.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-18zy-dch {
  width: 45.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-18zy-dch .rectangle-53-B8R {
  width: 45.1rem;
  height: 100.5rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.05rem #d00000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-18zy-dch .ellipse-1-6mB {
  width: 15rem;
  height: 15.0938rem;
  position: absolute;
  left: 15.1rem;
  top: 5rem;
  object-fit: contain;
  vertical-align: top;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-18zy-dch .nnhgiangg-dWD {
  width: 12.3rem;
  height: 3.8rem;
  position: absolute;
  left: 16.4rem;
  top: 22.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-18zy-dch .group-183-jJM {
  width: 44.8246rem;
  height: 8rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 29.1rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #ffffff;
  border-top: solid 0.1rem #d00000;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-18zy-dch .group-184-Pdo {
  width: 45.1rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 37.1rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.57;
  color: #ffffff;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d00000;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-18zy-dch .group-185-GxV {
  width: 44.8233rem;
  height: 8rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 45.1rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-18zy-dch .group-186-AHB {
  width: 40rem;
  height: 8rem;
  cursor: pointer;
  position: absolute;
  left: 2.6rem;
  top: 53.1rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-top: solid 0.1rem #d00000;
  box-sizing: border-box;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-18zy-dch .group-187-RD7 {
  width: 40rem;
  height: 8rem;
  cursor: pointer;
  position: absolute;
  left: 2.6rem;
  top: 61.1rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-top: solid 0.1rem #d00000;
  box-sizing: border-box;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq {
  box-sizing: border-box;
  padding: 9.3rem 0rem 7.4rem 9.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem {
  margin-right: 9.9rem;
  width: 120.1rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .group-264-ZCq {
  margin: 0rem 0rem 3rem 0.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .group-264-ZCq .n-hng-ca-ti-gYM {
  margin: 0rem 1.7rem 2.5rem 0rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .group-264-ZCq .vector-n5b {
  width: 120rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T {
  width: 100%;
  height: 70rem;
  position: relative;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .rectangle-106-UUD {
  width: 120rem;
  height: 70rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-266-Pr5 {
  width: 120rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-266-Pr5 .group-347-XxH {
  width: 60rem;
  height: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.57;
  color: #868686;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #858585;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-266-Pr5 .group-348-2e9 {
  width: 60rem;
  height: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #d00000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .s-n-hng-hon-thnh-3-jHf {
  width: 33.3rem;
  height: 3.5rem;
  position: absolute;
  left: 2.75rem;
  top: 12.2rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .tng-s-tin-mua-190000--pK7 {
  width: 34.3rem;
  height: 3.5rem;
  position: absolute;
  left: 83.3rem;
  top: 64.5rem;
  text-align: right;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .tng-s-tin-mua-190000--pK7 .tng-s-tin-mua-190000--pK7-sub-0 {
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .tng-s-tin-mua-190000--pK7 .tng-s-tin-mua-190000--pK7-sub-1 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.1;
  color: #000000;
  font-family: Coiny, 'Source Sans Pro';
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-273-12D {
  width: 115rem;
  height: 43rem;
  position: absolute;
  left: 2.6rem;
  top: 18rem;
  row-gap: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-273-12D .group-272-Wjf {
  box-sizing: border-box;
  padding: 1.083rem 2rem 1.083rem 1rem;
  width: 100%;
  height: 13rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem #fae0e4;
  background-color: #ffffff;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-273-12D .group-272-Wjf .de-lekkerste-rewards-en-deals-1-pkM {
  margin-right: 2.9533rem;
  width: 19.6467rem;
  height: 10.8333rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/de-lekkerste-rewards-en-deals-1-bg-8d3.png');
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-273-12D .group-272-Wjf .burger-ph-mai-vYV {
  margin: 1.056rem 2.4rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-273-12D .group-272-Wjf .x1-50000--qfT {
  margin: 0.822rem 4.5rem 0rem 0rem;
  text-align: right;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1;
  color: #000000;
  font-family: Coiny, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-273-12D .group-272-Wjf .thanh-ton-khi-nhn-hng-LcD {
  margin: 1.244rem 2.75rem 0rem 0rem;
  max-width: 14.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-273-12D .group-272-Wjf .nhn-hng-ngy-8-8-2023-vqK {
  margin: 1.244rem 3.45rem 0rem 0rem;
  max-width: 16.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-273-12D .group-272-Wjf .group-267-dDw {
  margin: 3.417rem 0rem 3.417rem 0rem;
  width: 12rem;
  height: calc(100% - 6.8333rem);
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #d00000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-273-12D .group-271-EUd {
  box-sizing: border-box;
  padding: 2.456rem 2rem 2.475rem 1rem;
  width: 100%;
  height: 13rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem #fae0e4;
  background-color: #ffffff;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-273-12D .group-271-EUd .chicken-selects-chicken-breast-meat-2-9bb {
  margin-right: 3rem;
  width: 19.6rem;
  height: 8.0696rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-273-12D .group-271-EUd .i-g-rn-4yT {
  margin: 1.075rem 8.1rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-273-12D .group-271-EUd .x1-75000--mss {
  margin: 0.841rem 4.5rem 0rem 0rem;
  text-align: right;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1;
  color: #000000;
  font-family: Coiny, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-273-12D .group-271-EUd .thanh-ton-khi-nhn-hng-UGV {
  margin: 1.264rem 2.75rem 0rem 0rem;
  max-width: 14.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-273-12D .group-271-EUd .nhn-hng-ngy-2-10-2023-Av1 {
  margin: 1.264rem 3.45rem 0rem 0rem;
  max-width: 16.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-273-12D .group-271-EUd .group-267-Tu7 {
  margin: 2.044rem 0rem 2.025rem 0rem;
  width: 12rem;
  height: calc(100% - 4.0696rem);
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #d00000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-273-12D .group-270-HdF {
  box-sizing: border-box;
  padding: 1.589rem 2rem 0.578rem 2rem;
  width: 100%;
  height: 13rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem #fae0e4;
  background-color: #ffffff;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-273-12D .group-270-HdF .power-pastas-for-runners-carb-loading-for-their-next-race-1-obb {
  margin-right: 3.9113rem;
  width: 17.6887rem;
  height: 10.8333rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-273-12D .group-270-HdF .m-st-cua-KZw {
  margin: 0.044rem 4.6rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-273-12D .group-270-HdF .x1-65000--2z9 {
  margin: 0rem 4.5rem 0.189rem 0rem;
  text-align: right;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1;
  color: #000000;
  font-family: Coiny, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-273-12D .group-270-HdF .thanh-ton-khi-nhn-hng-wbK {
  margin: 0.233rem 2.75rem 0rem 0rem;
  max-width: 14.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-273-12D .group-270-HdF .nhn-hng-ngy-15-11-2023-eEq {
  margin: 0.233rem 3.45rem 0rem 0rem;
  max-width: 16.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .auto-group-jhau-Dem .auto-group-kza1-89T .group-273-12D .group-270-HdF .group-269-wjj {
  margin: 2.911rem 0rem 3.922rem 0rem;
  width: 12rem;
  height: calc(100% - 6.8333rem);
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #d00000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .group-127-a21 {
  margin: 25.5rem 0rem 42.8rem 0rem;
  box-sizing: border-box;
  padding: 2.5rem 2rem 3rem 1.9rem;
  width: 7.5rem;
  height: calc(100% - 68.3rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d00000;
  border-radius: 1.5rem 0 0 1.5rem;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .group-127-a21 .icon-messager-G9j {
  margin-bottom: 3.1rem;
  width: 3.6rem;
  height: 3.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .auto-group-qywy-Uzh .auto-group-uwq1-geq .group-127-a21 .vector-Pk9 {
  margin-left: 0.2001rem;
  width: 3.2001rem;
  height: 3.2001rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB {
  margin-right: 0.1rem;
  box-sizing: border-box;
  padding: 6.5rem 13.5rem 7.666rem 21.9rem;
  width: calc(100% - 0.1rem);
  height: 45.4rem;
  display: flex;
  align-items: center;
  background-color: #333333;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .auto-group-adqz-Chb {
  margin-right: 7.4rem;
  width: 48.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .auto-group-adqz-Chb .auto-group-xkeh-973 {
  box-sizing: border-box;
  padding: 0 0.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .auto-group-adqz-Chb .auto-group-xkeh-973 .group-278-HU9 {
  margin: 0rem 0rem 1.5rem 8.3rem;
  width: 10rem;
  border: solid 0.4rem #ffba08;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 4rem;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .auto-group-adqz-Chb .auto-group-xkeh-973 .group-278-HU9 .letter-f-1-RKT {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  vertical-align: top;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .auto-group-adqz-Chb .auto-group-xkeh-973 .fastfoodcom-LhK {
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .auto-group-adqz-Chb .group-282-sSM {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .auto-group-adqz-Chb .group-282-sSM .auto-group-nocz-Dm7 {
  margin: 0rem 25.1rem 1.647rem 0.248rem;
  width: calc(100% - 25.3476rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .auto-group-adqz-Chb .group-282-sSM .auto-group-nocz-Dm7 .icon-alternate-phone-9Ps {
  margin-right: 1.6524rem;
  width: 2.7rem;
  height: 2.9531rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .auto-group-adqz-Chb .group-282-sSM .auto-group-nocz-Dm7 .item-084-0123456789-4Wq {
  margin-bottom: 0.2531rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .auto-group-adqz-Chb .group-282-sSM .auto-group-f91x-NnR {
  margin: 0rem 0rem 1.606rem 0.148rem;
  width: calc(100% - 0.1476rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .auto-group-adqz-Chb .group-282-sSM .auto-group-f91x-NnR .icon-alternate-map-marker-uGZ {
  margin-right: 2.4274rem;
  width: 2.025rem;
  height: 2.9531rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .auto-group-adqz-Chb .group-282-sSM .auto-group-f91x-NnR .nguyn-hu-th-phng-tn-phong-q7-EJq {
  margin-bottom: 0.2938rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .auto-group-adqz-Chb .group-282-sSM .auto-group-cgn9-Lsf {
  margin-right: 23.9rem;
  width: calc(100% - 23.9rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .auto-group-adqz-Chb .group-282-sSM .auto-group-cgn9-Lsf .icon-at-tuB {
  margin-right: 1.9261rem;
  width: 2.6739rem;
  height: 2.9531rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .auto-group-adqz-Chb .group-282-sSM .auto-group-cgn9-Lsf .fastfoodgmailcom-e7f {
  margin-bottom: 0.3344rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-285-mTB {
  margin: 0rem 13.3rem 9.234rem 0rem;
  width: 15.7rem;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-285-mTB .thng-tin-uJV {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-285-mTB .group-280-e1B {
  width: 100%;
  row-gap: 1.2rem;
  display: flex;
  flex-direction: column;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-285-mTB .group-280-e1B .tin-tc-zKw {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-285-mTB .group-280-e1B .tuyn-dng-Xqf {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-285-mTB .group-280-e1B .khuyn-mi-gCm {
  margin-left: 0.1rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-285-mTB .group-280-e1B .nhng-quyn-p45 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-284-Z1f {
  margin: 0rem 13rem 13.934rem 0rem;
  width: 24rem;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-284-Z1f .h-tr-tpd {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-284-Z1f .group-281-EtV {
  width: 100%;
  row-gap: 1.2rem;
  display: flex;
  flex-direction: column;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-284-Z1f .group-281-EtV .bo-mt-thng-tin-oAu {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-284-Z1f .group-281-EtV .chnh-sch-giao-hng-8iy {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-284-Z1f .group-281-EtV .chm-sc-khch-hng-UXw {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-283-1Xs {
  margin-bottom: 3.9344rem;
  width: 35rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-283-1Xs .auto-group-gxwh-ZJV {
  box-sizing: border-box;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-283-1Xs .auto-group-gxwh-ZJV .fastfood-social-6ZK {
  margin-bottom: 2.7rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-283-1Xs .auto-group-gxwh-ZJV .auto-group-mrwm-dJM {
  margin: 0rem 20.962rem 3.4rem 0rem;
  width: calc(100% - 20.9621rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-283-1Xs .auto-group-gxwh-ZJV .auto-group-mrwm-dJM .vector-xbX {
  margin-right: 2rem;
  width: 6.0365rem;
  height: 6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-283-1Xs .auto-group-gxwh-ZJV .auto-group-mrwm-dJM .vector-VrM {
  width: 6.0013rem;
  height: 6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-283-1Xs .auto-group-gxwh-ZJV .ng-k-nhn-email-FKj {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-283-1Xs .group-34-BUH {
  box-sizing: border-box;
  padding: 0.6rem 0.778rem 0.6rem 2.7rem;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  border: solid 0.12rem #f6aa1c;
  background-color: #ffffff;
  border-radius: 3.6rem;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-283-1Xs .group-34-BUH .enter-your-email-Joo {
  margin: 0rem 8.437rem 0.1rem 0rem;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.57;
  color: #858585;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-283-1Xs .group-34-BUH .group-33-dbB {
  box-sizing: border-box;
  padding: 1.01rem 1.35rem 1.01rem 0.832rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-1-cR3.png');
  flex-shrink: 0;
}
.trang-lch-s-n-hng-G8d .group-29-VoB .group-283-1Xs .group-34-BUH .group-33-dbB .group-32-wbs {
  width: 3.0034rem;
  height: 2.7803rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
