
html {
	font-size:40.9%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.trang-ti-khon-ngi-dng-uZ7 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.trang-ti-khon-ngi-dng-uZ7 .group-279-ouP {
  box-sizing: border-box;
  padding: 2.2rem 14.68rem 2.2rem 13.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #d00000;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-279-ouP .group-278-hjs {
  margin: 0.2rem 31.8rem 0rem 0rem;
  height: 5.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-279-ouP .group-278-hjs .auto-group-n3f3-RQy {
  margin: 0.1rem 2rem 0.3rem 0rem;
  width: 5rem;
  height: calc(100% - 0.4rem);
  border: solid 0.2rem #ffba08;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-279-ouP .group-278-hjs .auto-group-n3f3-RQy .letter-f-1-LH3 {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
}
.trang-ti-khon-ngi-dng-uZ7 .group-279-ouP .group-278-hjs .fastfood-S5B {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.57;
  color: #ffffff;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-279-ouP .group-135-ZQh {
  margin: 0rem 5.6rem 0.1rem 0rem;
  box-sizing: border-box;
  padding: 0.5rem 0.5rem 0.5rem 2.4rem;
  display: flex;
  align-items: center;
  border: solid 0.05rem #858585;
  background-color: #ffffff;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-279-ouP .group-135-ZQh .tm-kim-fCq {
  margin: 0.1rem 27.6rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.57;
  color: #858585;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-279-ouP .group-135-ZQh .group-134-mWm {
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-279-ouP .thc-n-GyK {
  margin-right: 5.3rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.57;
  color: #ffffff;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-279-ouP .khuyn-mi-bEu {
  margin: 0rem 4.88rem 0.2rem 0rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.57;
  color: #ffffff;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-279-ouP .group-180-uFb {
  margin-bottom: 0.1rem;
  display: flex;
  column-gap: 2.7049rem;
  align-items: center;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-279-ouP .group-180-uFb .group-177-SmK {
  margin-bottom: 0.0902rem;
  box-sizing: border-box;
  padding: 0.992rem 0.672rem 0.811rem 0.721rem;
  height: 5.4098rem;
  background-color: #ffffff;
  border-radius: 2.7049rem;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-279-ouP .group-180-uFb .group-177-SmK .icon-user-circle-Zb3 {
  width: 4.0162rem;
  height: 3.6066rem;
  object-fit: contain;
  vertical-align: top;
}
.trang-ti-khon-ngi-dng-uZ7 .group-279-ouP .group-180-uFb .group-179-UT7 {
  margin-bottom: 0.0902rem;
  box-sizing: border-box;
  padding: 1.172rem 0.903rem 1.082rem 0.992rem;
  height: 5.4098rem;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 2.7049rem;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-279-ouP .group-180-uFb .group-179-UT7 .icon-shopping-cart-bXj {
  width: 3.5154rem;
  height: 3.1557rem;
  object-fit: contain;
  vertical-align: top;
}
.trang-ti-khon-ngi-dng-uZ7 .group-279-ouP .group-180-uFb .group-178-7W5 {
  margin-top: 0.0902rem;
  box-sizing: border-box;
  padding: 0.902rem 0.904rem 0.902rem 0.992rem;
  height: 5.4098rem;
  background-color: #ffffff;
  border-radius: 2.7049rem;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-279-ouP .group-180-uFb .group-178-7W5 .icon-bell-dUR {
  width: 3.5142rem;
  height: 3.6066rem;
  object-fit: contain;
  vertical-align: top;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h {
  margin-bottom: 0.3rem;
  width: 100%;
  height: 100.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-uegu-DxR {
  box-sizing: border-box;
  padding: 5rem 0rem 31.3rem 0.1rem;
  width: 45.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.05rem #d00000;
  background-color: #ffffff;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-uegu-DxR .ellipse-1-L1T {
  margin: 0rem 0rem 2.006rem 0.2rem;
  width: 15rem;
  height: 15.0938rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-uegu-DxR .nnhgiangg-eXw {
  margin: 0rem 0.1rem 3.2rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-uegu-DxR .group-183-Zeu {
  width: 100%;
  height: 8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.57;
  color: #ffffff;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #d00000;
  box-sizing: border-box;
  background-color: #d00000;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-uegu-DxR .group-184-Fnd {
  margin: 0 2.5rem;
  width: calc(100% - 5rem);
  height: 8rem;
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-uegu-DxR .group-185-jSu {
  margin: 0 2.5rem;
  width: calc(100% - 5rem);
  height: 8rem;
  cursor: pointer;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-top: solid 0.1rem #d00000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-uegu-DxR .group-186-Q3F {
  margin: 0rem 2.4rem 0rem 2.6rem;
  width: calc(100% - 5rem);
  height: 8rem;
  cursor: pointer;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-top: solid 0.1rem #d00000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-uegu-DxR .group-187-eTP {
  margin: 0rem 2.4rem 0rem 2.6rem;
  width: calc(100% - 5rem);
  height: 8rem;
  cursor: pointer;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-top: solid 0.1rem #d00000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-uegu-DxR .line-15-gey {
  margin: 0rem 7.3rem 0rem 7.7rem;
  width: calc(100% - 15rem);
  height: 0.1rem;
  background-color: #d00000;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD {
  box-sizing: border-box;
  padding: 9.3rem 0rem 14.2rem 9.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 {
  margin-right: 9.9rem;
  width: 120rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .thng-tin-ti-khon-SXf {
  margin: 0rem 1.7rem 2.5rem 0rem;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .vector-kHT {
  margin-bottom: 4.5rem;
  width: 120rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK {
  margin: 0rem 15.5rem 3.2rem 18.5rem;
  width: calc(100% - 34rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK .auto-group-8j8v-d6M {
  box-sizing: border-box;
  padding: 0rem 0rem 3.5rem 4.2rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK .auto-group-8j8v-d6M .group-191-Mo3 {
  margin-bottom: 3.5rem;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  border-radius: 3rem;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK .auto-group-8j8v-d6M .group-191-Mo3 .h-v-tn-JyB {
  margin: 0.2rem 5rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK .auto-group-8j8v-d6M .group-191-Mo3 .group-189-dVf {
  box-sizing: border-box;
  padding: 1.2rem 4.5rem 1.3rem 4.5rem;
  width: 65rem;
  height: 100%;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.05rem #858585;
  background-color: #ffffff;
  border-radius: 3rem;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK .auto-group-8j8v-d6M .auto-group-a1v5-UmB {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK .auto-group-8j8v-d6M .auto-group-a1v5-UmB .ngy-sinh-RwK {
  margin: 0.2rem 5rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK .auto-group-8j8v-d6M .auto-group-a1v5-UmB .group-189-9sK {
  box-sizing: border-box;
  padding: 1.4rem 3.7rem 1.4rem 4.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.05rem #858585;
  background-color: #ffffff;
  border-radius: 3rem;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK .auto-group-8j8v-d6M .auto-group-a1v5-UmB .group-189-9sK .item-01-01-2003-HTj {
  margin: 0rem 42.1rem 0.1rem 0rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK .auto-group-8j8v-d6M .auto-group-a1v5-UmB .group-189-9sK .vector-BZ7 {
  width: 2.8rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK .group-193-HMF {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  border-radius: 3rem;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK .group-193-HMF .s-in-thoi-3LR {
  margin: 0.2rem 5rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK .group-193-HMF .group-189-Mru {
  box-sizing: border-box;
  padding: 1.6rem 4.5rem 1.7rem 4.5rem;
  width: 65rem;
  height: 100%;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.05rem #858585;
  background-color: #ffffff;
  border-radius: 3rem;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK .auto-group-eyyd-bmF {
  box-sizing: border-box;
  padding: 3.5rem 0rem 0rem 5.7rem;
  width: 100%;
  row-gap: 3.5rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK .auto-group-eyyd-bmF .group-194-8FP {
  margin-left: 4.2rem;
  width: calc(100% - 4.2rem);
  height: 6rem;
  display: flex;
  align-items: center;
  border-radius: 3rem;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK .auto-group-eyyd-bmF .group-194-8FP .email-sCy {
  margin: 0.2rem 5rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK .auto-group-eyyd-bmF .group-194-8FP .group-189-PSD {
  box-sizing: border-box;
  padding: 1.2rem 4.5rem 1.3rem 4.5rem;
  width: 65rem;
  height: 100%;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.05rem #858585;
  background-color: #ffffff;
  border-radius: 3rem;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK .auto-group-eyyd-bmF .group-195-3Wm {
  box-sizing: border-box;
  padding-left: 0.2rem;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  border-radius: 3rem;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK .auto-group-eyyd-bmF .group-195-3Wm .gii-tnh-Bcy {
  margin: 0.2rem 5rem 0rem 0rem;
  text-align: right;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK .auto-group-eyyd-bmF .group-195-3Wm .group-189-VNm {
  box-sizing: border-box;
  padding: 1.2rem 4.5rem 1.3rem 4.5rem;
  width: 65rem;
  height: 100%;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.05rem #858585;
  background-color: #ffffff;
  border-radius: 3rem;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK .auto-group-eyyd-bmF .group-196-eQ5 {
  margin-left: 1.9rem;
  width: calc(100% - 1.9rem);
  height: 6rem;
  display: flex;
  align-items: center;
  border-radius: 3rem;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK .auto-group-eyyd-bmF .group-196-eQ5 .a-ch-yhF {
  margin: 0.2rem 5rem 0rem 0rem;
  text-align: right;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.57;
  color: #d00000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-200-6MK .auto-group-eyyd-bmF .group-196-eQ5 .group-189-gLm {
  width: 65rem;
  height: 100%;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.57;
  color: #000000;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.05rem #858585;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 3rem;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .auto-group-na8m-WP7 .group-198-MC1 {
  margin: 0rem 47.5rem 0rem 50.5rem;
  width: calc(100% - 98rem);
  height: 5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.57;
  color: #ffffff;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d00000;
  border-radius: 3rem;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .group-127-QRB {
  margin: 25.5rem 0rem 36rem 0rem;
  box-sizing: border-box;
  padding: 2.5rem 2rem 3rem 1.9rem;
  width: 7.5rem;
  height: calc(100% - 61.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d00000;
  border-radius: 1.5rem 0 0 1.5rem;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .group-127-QRB .icon-messager-hv5 {
  margin-bottom: 3.1rem;
  width: 3.6rem;
  height: 3.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .auto-group-59hx-78h .auto-group-ohhf-nCD .group-127-QRB .vector-3DF {
  margin-left: 0.2001rem;
  width: 3.2001rem;
  height: 3.2001rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF {
  box-sizing: border-box;
  padding: 6.5rem 13.5rem 7.666rem 21.9rem;
  width: 100%;
  height: 45.4rem;
  display: flex;
  align-items: center;
  background-color: #333333;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .auto-group-vg8v-FaD {
  margin-right: 7.4rem;
  width: 48.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .auto-group-vg8v-FaD .auto-group-ybmf-b8H {
  box-sizing: border-box;
  padding: 0 0.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .auto-group-vg8v-FaD .auto-group-ybmf-b8H .group-278-vwF {
  margin: 0rem 0rem 1.5rem 8.3rem;
  width: 10rem;
  border: solid 0.4rem #ffba08;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 4rem;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .auto-group-vg8v-FaD .auto-group-ybmf-b8H .group-278-vwF .letter-f-1-ra1 {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  vertical-align: top;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .auto-group-vg8v-FaD .auto-group-ybmf-b8H .fastfoodcom-mBB {
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .auto-group-vg8v-FaD .group-282-JB7 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .auto-group-vg8v-FaD .group-282-JB7 .auto-group-vsbp-ekm {
  margin: 0rem 25.1rem 1.647rem 0.248rem;
  width: calc(100% - 25.3476rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .auto-group-vg8v-FaD .group-282-JB7 .auto-group-vsbp-ekm .icon-alternate-phone-BEu {
  margin-right: 1.6524rem;
  width: 2.7rem;
  height: 2.9531rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .auto-group-vg8v-FaD .group-282-JB7 .auto-group-vsbp-ekm .item-084-0123456789-WHB {
  margin-bottom: 0.2531rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .auto-group-vg8v-FaD .group-282-JB7 .auto-group-znff-R9F {
  margin: 0rem 0rem 1.606rem 0.148rem;
  width: calc(100% - 0.1476rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .auto-group-vg8v-FaD .group-282-JB7 .auto-group-znff-R9F .icon-alternate-map-marker-kBX {
  margin-right: 2.4274rem;
  width: 2.025rem;
  height: 2.9531rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .auto-group-vg8v-FaD .group-282-JB7 .auto-group-znff-R9F .nguyn-hu-th-phng-tn-phong-q7-UdK {
  margin-bottom: 0.2938rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .auto-group-vg8v-FaD .group-282-JB7 .auto-group-5jav-bC9 {
  margin-right: 23.9rem;
  width: calc(100% - 23.9rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .auto-group-vg8v-FaD .group-282-JB7 .auto-group-5jav-bC9 .icon-at-Kdw {
  margin-right: 1.9261rem;
  width: 2.6739rem;
  height: 2.9531rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .auto-group-vg8v-FaD .group-282-JB7 .auto-group-5jav-bC9 .fastfoodgmailcom-fC1 {
  margin-bottom: 0.3344rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-285-P81 {
  margin: 0rem 13.3rem 9.234rem 0rem;
  width: 15.7rem;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-285-P81 .thng-tin-vNq {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-285-P81 .group-280-3iM {
  width: 100%;
  row-gap: 1.2rem;
  display: flex;
  flex-direction: column;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-285-P81 .group-280-3iM .tin-tc-PXK {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-285-P81 .group-280-3iM .tuyn-dng-8E1 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-285-P81 .group-280-3iM .khuyn-mi-fDw {
  margin-left: 0.1rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-285-P81 .group-280-3iM .nhng-quyn-Pfj {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-284-ixu {
  margin: 0rem 13rem 13.934rem 0rem;
  width: 24rem;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-284-ixu .h-tr-fNM {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-284-ixu .group-281-Ct5 {
  width: 100%;
  row-gap: 1.2rem;
  display: flex;
  flex-direction: column;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-284-ixu .group-281-Ct5 .bo-mt-thng-tin-ZCq {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-284-ixu .group-281-Ct5 .chnh-sch-giao-hng-6Tf {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-284-ixu .group-281-Ct5 .chm-sc-khch-hng-EJy {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-283-ATX {
  margin-bottom: 3.9344rem;
  width: 35rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-283-ATX .auto-group-dc1k-ug1 {
  box-sizing: border-box;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-283-ATX .auto-group-dc1k-ug1 .fastfood-social-Fzm {
  margin-bottom: 2.7rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-283-ATX .auto-group-dc1k-ug1 .auto-group-zgtf-CQD {
  margin: 0rem 20.962rem 3.4rem 0rem;
  width: calc(100% - 20.9621rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-283-ATX .auto-group-dc1k-ug1 .auto-group-zgtf-CQD .vector-LFX {
  margin-right: 2rem;
  width: 6.0365rem;
  height: 6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-283-ATX .auto-group-dc1k-ug1 .auto-group-zgtf-CQD .vector-gKP {
  width: 6.0013rem;
  height: 6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-283-ATX .auto-group-dc1k-ug1 .ng-k-nhn-email-Rnm {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.57;
  color: #f6aa1c;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-283-ATX .group-34-MRX {
  box-sizing: border-box;
  padding: 0.6rem 0.778rem 0.6rem 2.7rem;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  border: solid 0.12rem #f6aa1c;
  background-color: #ffffff;
  border-radius: 3.6rem;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-283-ATX .group-34-MRX .enter-your-email-TzM {
  margin: 0rem 8.437rem 0.1rem 0rem;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.57;
  color: #858585;
  font-family: Mitr, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-283-ATX .group-34-MRX .group-33-zUV {
  box-sizing: border-box;
  padding: 1.01rem 1.35rem 1.01rem 0.832rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-1-6JZ.png');
  flex-shrink: 0;
}
.trang-ti-khon-ngi-dng-uZ7 .group-29-LTF .group-283-ATX .group-34-MRX .group-33-zUV .group-32-vd3 {
  width: 3.0034rem;
  height: 2.7803rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
