
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.trang-lch-s-n-hng-G8d {
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .group-279-x1T {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #d00000;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.2rem 14.68rem 2.2rem 13.5rem;

    .group-278-TD7 {
      margin: 0.2rem 31.8rem 0rem 0rem;
      height: 5.4rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-3q1k-AtD {
        border: solid 0.2rem #ffba08;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 2rem;
        flex-shrink: 0;
        margin: 0.1rem 2rem 0.3rem 0rem;
        width: 5rem;
        height: calc(100% - 0.4rem);

        .letter-f-1-Hhw {
          width: 5rem;
          height: 5rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .fastfood-bTj {
        font-size: 3.4rem;
        font-weight: 700;
        line-height: 1.57;
        color: #ffffff;
        font-family: Mitr, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-135-K8q {
      padding: 0.5rem 0.5rem 0.5rem 2.4rem;
      display: flex;
      align-items: center;
      border: solid 0.05rem #858585;
      margin: 0rem 5.6rem 0.1rem 0rem;
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 2.5rem;
      flex-shrink: 0;

      .tm-kim-ctd {
        color: #858585;
        font-family: Mitr, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 27.6rem 0rem 0rem;
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.57;
      }
      .group-134-86H {
        width: 4.5rem;
        height: 4.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .thc-n-2hT {
      line-height: 1.57;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 5.3rem;
      cursor: pointer;
      font-size: 2.4rem;
      font-weight: 700;
      font-family: Mitr, 'Source Sans Pro';
    }
    .khuyn-mi-91P {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 4.88rem 0.2rem 0rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.57;
      color: #ffffff;
      font-family: Mitr, 'Source Sans Pro';
    }
    .group-180-fEd {
      margin-bottom: 0.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-177-1ZP {
        margin: 0rem 2.705rem 0.09rem 0rem;
        box-sizing: border-box;
        padding: 0.992rem 0.672rem 0.811rem 0.721rem;
        height: 5.4098rem;
        background-color: #ffffff;
        border-radius: 2.7049rem;
        flex-shrink: 0;

        .icon-user-circle-JoP {
          object-fit: contain;
          vertical-align: top;
          width: 4.0162rem;
          height: 3.6066rem;
        }
      }
      .group-179-cZB {
        border-radius: 2.7049rem;
        flex-shrink: 0;
        margin: 0rem 2.705rem 0.09rem 0rem;
        box-sizing: border-box;
        padding: 1.172rem 0.903rem 1.082rem 0.992rem;
        height: 5.4098rem;
        cursor: pointer;
        background-color: #ffffff;

        .icon-shopping-cart-is7 {
          width: 3.5154rem;
          height: 3.1557rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .group-178-EaZ {
        height: 5.4098rem;
        background-color: #ffffff;
        border-radius: 2.7049rem;
        flex-shrink: 0;
        margin-top: 0.0902rem;
        box-sizing: border-box;
        padding: 0.902rem 0.904rem 0.902rem 0.992rem;

        .icon-bell-Zcq {
          height: 3.6066rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.5142rem;
        }
      }
    }
  }
  .auto-group-qywy-Uzh {
    width: 100%;
    height: 100.5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-18zy-dch {
      position: relative;
      flex-shrink: 0;
      width: 45.2rem;
      height: 100%;

      .rectangle-53-B8R {
        border: solid 0.05rem #d00000;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 45.1rem;
        height: 100.5rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .ellipse-1-6mB {
        left: 15.1rem;
        top: 5rem;
        object-fit: contain;
        vertical-align: top;
        width: 15rem;
        height: 15.0938rem;
        position: absolute;
      }
      .nnhgiangg-dWD {
        width: 12.3rem;
        height: 3.8rem;
        top: 22.1rem;
        font-size: 2.4rem;
        font-family: Mitr, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 16.4rem;
        font-weight: 400;
        line-height: 1.57;
        color: #d00000;
      }
      .group-183-jJM {
        cursor: pointer;
        align-items: center;
        justify-content: center;
        width: 44.8246rem;
        height: 8rem;
        font-size: 2.2rem;
        color: #d00000;
        display: flex;
        white-space: nowrap;
        border: solid 0.1rem #ffffff;
        position: absolute;
        left: 0;
        top: 29.1rem;
        font-weight: 500;
        line-height: 1.57;
        font-family: Mitr, 'Source Sans Pro';
        box-sizing: border-box;
        background-color: #ffffff;
        border-top: solid 0.1rem #d00000;
      }
      .group-184-Pdo {
        position: absolute;
        color: #ffffff;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        height: 8rem;
        left: 0;
        top: 37.1rem;
        font-weight: 600;
        line-height: 1.57;
        font-family: Mitr, 'Source Sans Pro';
        width: 45.1rem;
        font-size: 2.2rem;
        display: flex;
        background-color: #d00000;
      }
      .group-185-GxV {
        width: 44.8233rem;
        font-weight: 500;
        justify-content: center;
        background-color: #ffffff;
        text-align: center;
        font-family: Mitr, 'Source Sans Pro';
        height: 8rem;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 45.1rem;
        font-size: 2.2rem;
        line-height: 1.57;
        color: #d00000;
        white-space: nowrap;
        display: flex;
        align-items: center;
      }
      .group-186-AHB {
        height: 8rem;
        position: absolute;
        font-size: 2.2rem;
        white-space: nowrap;
        box-sizing: border-box;
        cursor: pointer;
        line-height: 1.57;
        display: flex;
        background-color: #ffffff;
        width: 40rem;
        left: 2.6rem;
        font-weight: 500;
        color: #d00000;
        font-family: Mitr, 'Source Sans Pro';
        justify-content: center;
        border-top: solid 0.1rem #d00000;
        top: 53.1rem;
        text-align: center;
        align-items: center;
      }
      .group-187-RD7 {
        font-size: 2.2rem;
        color: #d00000;
        border-top: solid 0.1rem #d00000;
        box-sizing: border-box;
        line-height: 1.57;
        font-family: Mitr, 'Source Sans Pro';
        align-items: center;
        background-color: #ffffff;
        width: 40rem;
        top: 61.1rem;
        text-align: center;
        font-weight: 500;
        white-space: nowrap;
        height: 8rem;
        cursor: pointer;
        position: absolute;
        left: 2.6rem;
        display: flex;
        justify-content: center;
      }
    }
    .auto-group-uwq1-geq {
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 9.3rem 0rem 7.4rem 9.4rem;
      height: 100%;
      display: flex;

      .auto-group-jhau-Dem {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 9.9rem;
        width: 120.1rem;
        height: 100%;

        .group-264-ZCq {
          flex-shrink: 0;
          margin: 0rem 0rem 3rem 0.1rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .n-hng-ca-ti-gYM {
            font-size: 4rem;
            font-weight: 500;
            font-family: Mitr, 'Source Sans Pro';
            margin: 0rem 1.7rem 2.5rem 0rem;
            text-align: center;
            white-space: nowrap;
            flex-shrink: 0;
            line-height: 1.57;
            color: #d00000;
          }
          .vector-n5b {
            width: 120rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-kza1-89T {
          position: relative;
          flex-shrink: 0;
          width: 100%;
          height: 70rem;

          .rectangle-106-UUD {
            position: absolute;
            left: 0.1rem;
            top: 0;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            width: 120rem;
            height: 70rem;
          }
          .group-266-Pr5 {
            width: 120rem;
            height: 8rem;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;

            .group-347-XxH {
              border: solid 0.1rem #858585;
              height: 100%;
              font-weight: 400;
              font-size: 3rem;
              color: #868686;
              font-family: Mitr, 'Source Sans Pro';
              width: 60rem;
              cursor: pointer;
              text-align: center;
              align-items: center;
              justify-content: center;
              box-sizing: border-box;
              background-color: #ffffff;
              flex-shrink: 0;
              line-height: 1.57;
              white-space: nowrap;
              display: flex;
            }
            .group-348-2e9 {
              height: 100%;
              font-size: 3rem;
              font-family: Mitr, 'Source Sans Pro';
              align-items: center;
              width: 60rem;
              text-align: center;
              border: solid 0.1rem #d00000;
              box-sizing: border-box;
              justify-content: center;
              font-weight: 500;
              line-height: 1.57;
              color: #d00000;
              white-space: nowrap;
              display: flex;
              background-color: #ffffff;
              flex-shrink: 0;
            }
          }
          .s-n-hng-hon-thnh-3-jHf {
            height: 3.5rem;
            top: 12.2rem;
            font-weight: 400;
            line-height: 1.57;
            white-space: nowrap;
            width: 33.3rem;
            position: absolute;
            left: 2.75rem;
            text-align: center;
            font-size: 2.2rem;
            color: #000000;
            font-family: Mitr, 'Source Sans Pro';
          }
          .tng-s-tin-mua-190000--pK7 {
            line-height: 1.57;
            align-items: baseline;
            font-size: 2.2rem;
            text-align: right;
            display: flex;
            height: 3.5rem;
            font-weight: 400;
            white-space: nowrap;
            left: 83.3rem;
            position: absolute;
            top: 64.5rem;
            color: #000000;
            font-family: Mitr, 'Source Sans Pro';
            width: 34.3rem;

            .tng-s-tin-mua-190000--pK7-sub-0 {
            }
            .tng-s-tin-mua-190000--pK7-sub-1 {
              line-height: 1.1;
              color: #000000;
              font-family: Coiny, 'Source Sans Pro';
              font-size: 2.2rem;
              font-weight: 400;
            }
          }
          .group-273-12D {
            width: 115rem;
            position: absolute;
            left: 2.6rem;
            align-items: center;
            height: 43rem;
            top: 18rem;
            row-gap: 2rem;
            display: flex;
            flex-direction: column;

            .group-272-Wjf {
              padding: 1.083rem 2rem 1.083rem 1rem;
              width: 100%;
              display: flex;
              background-color: #ffffff;
              flex-shrink: 0;
              box-sizing: border-box;
              height: 13rem;
              align-items: center;
              box-shadow: 0 0.4rem 0.4rem #fae0e4;

              .de-lekkerste-rewards-en-deals-1-pkM {
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('REPLACE_IMAGE:940d9a0d34ff0f1588982e73536b31416d3f0b7a');
                flex-shrink: 0;
                margin-right: 2.9533rem;
                width: 19.6467rem;
                height: 10.8333rem;
              }
              .burger-ph-mai-vYV {
                color: #000000;
                font-family: Mitr, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 1.056rem 2.4rem 0rem 0rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.57;
              }
              .x1-50000--qfT {
                margin: 0.822rem 4.5rem 0rem 0rem;
                text-align: right;
                font-weight: 400;
                font-family: Coiny, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.4rem;
                line-height: 1.1;
                color: #000000;
              }
              .thanh-ton-khi-nhn-hng-LcD {
                margin: 1.244rem 2.75rem 0rem 0rem;
                max-width: 14.1rem;
                text-align: center;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.57;
                font-family: Mitr, 'Source Sans Pro';
                flex-shrink: 0;
                color: #000000;
              }
              .nhn-hng-ngy-8-8-2023-vqK {
                margin: 1.244rem 3.45rem 0rem 0rem;
                text-align: center;
                font-size: 2rem;
                max-width: 16.3rem;
                font-weight: 400;
                line-height: 1.57;
                color: #000000;
                font-family: Mitr, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .group-267-dDw {
                margin: 3.417rem 0rem 3.417rem 0rem;
                width: 12rem;
                height: calc(100% - 6.8333rem);
                font-size: 2rem;
                line-height: 1.57;
                color: #d00000;
                display: flex;
                align-items: center;
                border: solid 0.1rem #d00000;
                background-color: #ffffff;
                border-radius: 2rem;
                white-space: nowrap;
                justify-content: center;
                box-sizing: border-box;
                flex-shrink: 0;
                text-align: center;
                font-family: Mitr, 'Source Sans Pro';
                font-weight: 400;
              }
            }
            .group-271-EUd {
              width: 100%;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 2.456rem 2rem 2.475rem 1rem;
              height: 13rem;
              display: flex;
              align-items: center;
              box-shadow: 0 0.4rem 0.4rem #fae0e4;
              background-color: #ffffff;

              .chicken-selects-chicken-breast-meat-2-9bb {
                margin-right: 3rem;
                width: 19.6rem;
                height: 8.0696rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
              .i-g-rn-4yT {
                flex-shrink: 0;
                margin: 1.075rem 8.1rem 0rem 0rem;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.57;
                color: #000000;
                font-family: Mitr, 'Source Sans Pro';
                white-space: nowrap;
              }
              .x1-75000--mss {
                white-space: nowrap;
                flex-shrink: 0;
                text-align: right;
                font-size: 2.4rem;
                color: #000000;
                font-family: Coiny, 'Source Sans Pro';
                margin: 0.841rem 4.5rem 0rem 0rem;
                font-weight: 400;
                line-height: 1.1;
              }
              .thanh-ton-khi-nhn-hng-UGV {
                font-weight: 400;
                color: #000000;
                flex-shrink: 0;
                margin: 1.264rem 2.75rem 0rem 0rem;
                text-align: center;
                font-size: 2rem;
                max-width: 14.1rem;
                line-height: 1.57;
                font-family: Mitr, 'Source Sans Pro';
              }
              .nhn-hng-ngy-2-10-2023-Av1 {
                margin: 1.264rem 3.45rem 0rem 0rem;
                font-size: 2rem;
                line-height: 1.57;
                color: #000000;
                font-family: Mitr, 'Source Sans Pro';
                max-width: 16.3rem;
                text-align: center;
                font-weight: 400;
                flex-shrink: 0;
              }
              .group-267-Tu7 {
                display: flex;
                border: solid 0.1rem #d00000;
                flex-shrink: 0;
                width: 12rem;
                font-size: 2rem;
                font-family: Mitr, 'Source Sans Pro';
                justify-content: center;
                box-sizing: border-box;
                text-align: center;
                align-items: center;
                font-weight: 400;
                height: calc(100% - 4.0696rem);
                line-height: 1.57;
                color: #d00000;
                white-space: nowrap;
                background-color: #ffffff;
                border-radius: 2rem;
                margin: 2.044rem 0rem 2.025rem 0rem;
              }
            }
            .group-270-HdF {
              padding: 1.589rem 2rem 0.578rem 2rem;
              width: 100%;
              height: 13rem;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              display: flex;
              box-shadow: 0 0.4rem 0.4rem #fae0e4;
              background-color: #ffffff;

              .power-pastas-for-runners-carb-loading-for-their-next-race-1-obb {
                height: 10.8333rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 3.9113rem;
                width: 17.6887rem;
              }
              .m-st-cua-KZw {
                line-height: 1.57;
                color: #000000;
                font-family: Mitr, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.044rem 4.6rem 0rem 0rem;
                font-size: 2.4rem;
                font-weight: 600;
              }
              .x1-65000--2z9 {
                flex-shrink: 0;
                margin: 0rem 4.5rem 0.189rem 0rem;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.1;
                white-space: nowrap;
                text-align: right;
                color: #000000;
                font-family: Coiny, 'Source Sans Pro';
              }
              .thanh-ton-khi-nhn-hng-wbK {
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.57;
                color: #000000;
                font-family: Mitr, 'Source Sans Pro';
                flex-shrink: 0;
                margin: 0.233rem 2.75rem 0rem 0rem;
                max-width: 14.1rem;
                text-align: center;
              }
              .nhn-hng-ngy-15-11-2023-eEq {
                font-weight: 400;
                line-height: 1.57;
                color: #000000;
                margin: 0.233rem 3.45rem 0rem 0rem;
                text-align: center;
                font-size: 2rem;
                max-width: 16.3rem;
                font-family: Mitr, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .group-269-wjj {
                background-color: #ffffff;
                border-radius: 2rem;
                margin: 2.911rem 0rem 3.922rem 0rem;
                color: #d00000;
                display: flex;
                border: solid 0.1rem #d00000;
                height: calc(100% - 6.8333rem);
                text-align: center;
                font-weight: 400;
                flex-shrink: 0;
                width: 12rem;
                font-size: 2rem;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                line-height: 1.57;
                font-family: Mitr, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
      }
      .group-127-a21 {
        margin: 25.5rem 0rem 42.8rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.5rem 2rem 3rem 1.9rem;
        width: 7.5rem;
        height: calc(100% - 68.3rem);
        align-items: center;
        background-color: #d00000;
        border-radius: 1.5rem 0 0 1.5rem;

        .icon-messager-G9j {
          height: 3.7rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 3.1rem;
          width: 3.6rem;
        }
        .vector-Pk9 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-left: 0.2001rem;
          width: 3.2001rem;
          height: 3.2001rem;
        }
      }
    }
  }
  .group-29-VoB {
    margin-right: 0.1rem;
    height: 45.4rem;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 6.5rem 13.5rem 7.666rem 21.9rem;
    width: calc(100% - 0.1rem);
    display: flex;
    background-color: #333333;

    .auto-group-adqz-Chb {
      margin-right: 7.4rem;
      width: 48.2rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-xkeh-973 {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0 0.6rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .group-278-HU9 {
          border: solid 0.4rem #ffba08;
          box-sizing: border-box;
          background-color: #ffffff;
          border-radius: 4rem;
          flex-shrink: 0;
          margin: 0rem 0rem 1.5rem 8.3rem;
          width: 10rem;

          .letter-f-1-RKT {
            vertical-align: top;
            width: 10rem;
            height: 10rem;
            object-fit: cover;
          }
        }
        .fastfoodcom-LhK {
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.8rem;
          font-weight: 600;
          line-height: 1.57;
        }
      }
      .group-282-sSM {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-nocz-Dm7 {
          margin: 0rem 25.1rem 1.647rem 0.248rem;
          width: calc(100% - 25.3476rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .icon-alternate-phone-9Ps {
            margin-right: 1.6524rem;
            width: 2.7rem;
            height: 2.9531rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item-084-0123456789-4Wq {
            font-family: Mitr, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2531rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.57;
            color: #f6aa1c;
          }
        }
        .auto-group-f91x-NnR {
          margin: 0rem 0rem 1.606rem 0.148rem;
          width: calc(100% - 0.1476rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .icon-alternate-map-marker-uGZ {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2.4274rem;
            width: 2.025rem;
            height: 2.9531rem;
          }
          .nguyn-hu-th-phng-tn-phong-q7-EJq {
            font-weight: 400;
            line-height: 1.57;
            color: #f6aa1c;
            font-family: Mitr, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2938rem;
            font-size: 2rem;
          }
        }
        .auto-group-cgn9-Lsf {
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          margin-right: 23.9rem;
          width: calc(100% - 23.9rem);

          .icon-at-tuB {
            flex-shrink: 0;
            margin-right: 1.9261rem;
            width: 2.6739rem;
            height: 2.9531rem;
            object-fit: contain;
            vertical-align: top;
          }
          .fastfoodgmailcom-e7f {
            font-family: Mitr, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.3344rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.57;
            color: #f6aa1c;
          }
        }
      }
    }
    .group-285-mTB {
      margin: 0rem 13.3rem 9.234rem 0rem;
      width: 15.7rem;
      flex-shrink: 0;

      .thng-tin-uJV {
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 1.57;
        color: #f6aa1c;
        font-family: Mitr, 'Source Sans Pro';
        white-space: nowrap;
      }
      .group-280-e1B {
        width: 100%;
        row-gap: 1.2rem;
        display: flex;
        flex-direction: column;

        .tin-tc-zKw {
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
        }
        .tuyn-dng-Xqf {
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 400;
        }
        .khuyn-mi-gCm {
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 0.1rem;
          font-size: 2.2rem;
          font-weight: 400;
        }
        .nhng-quyn-p45 {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
        }
      }
    }
    .group-284-Z1f {
      width: 24rem;
      flex-shrink: 0;
      margin: 0rem 13rem 13.934rem 0rem;

      .h-tr-tpd {
        line-height: 1.57;
        color: #f6aa1c;
        font-family: Mitr, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2.8rem;
        font-weight: 600;
      }
      .group-281-EtV {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 1.2rem;

        .bo-mt-thng-tin-oAu {
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
        }
        .chnh-sch-giao-hng-8iy {
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 400;
        }
        .chm-sc-khch-hng-UXw {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .group-283-1Xs {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 3.9344rem;
      width: 35rem;

      .auto-group-gxwh-ZJV {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 1rem;

        .fastfood-social-6ZK {
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.7rem;
          font-size: 2.8rem;
          font-weight: 600;
          line-height: 1.57;
        }
        .auto-group-mrwm-dJM {
          margin: 0rem 20.962rem 3.4rem 0rem;
          width: calc(100% - 20.9621rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .vector-xbX {
            margin-right: 2rem;
            width: 6.0365rem;
            height: 6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .vector-VrM {
            width: 6.0013rem;
            height: 6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .ng-k-nhn-email-FKj {
          font-weight: 600;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
        }
      }
      .group-34-BUH {
        width: 100%;
        align-items: center;
        border-radius: 3.6rem;
        box-sizing: border-box;
        padding: 0.6rem 0.778rem 0.6rem 2.7rem;
        height: 6rem;
        display: flex;
        border: solid 0.12rem #f6aa1c;
        background-color: #ffffff;
        flex-shrink: 0;

        .enter-your-email-Joo {
          flex-shrink: 0;
          margin: 0rem 8.437rem 0.1rem 0rem;
          font-size: 2.2rem;
          font-weight: 300;
          line-height: 1.57;
          color: #858585;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
        }
        .group-33-dbB {
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:1:1848');
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.01rem 1.35rem 1.01rem 0.832rem;

          .group-32-wbs {
            width: 3.0034rem;
            height: 2.7803rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
    }
  }
}
