
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.trang-ti-khon-ngi-dng-uZ7 {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;

  .group-279-ouP {
    box-sizing: border-box;
    padding: 2.2rem 14.68rem 2.2rem 13.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #d00000;
    flex-shrink: 0;

    .group-278-hjs {
      margin: 0.2rem 31.8rem 0rem 0rem;
      height: 5.4rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-n3f3-RQy {
        margin: 0.1rem 2rem 0.3rem 0rem;
        width: 5rem;
        height: calc(100% - 0.4rem);
        border: solid 0.2rem #ffba08;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 2rem;
        flex-shrink: 0;

        .letter-f-1-LH3 {
          width: 5rem;
          height: 5rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .fastfood-S5B {
        line-height: 1.57;
        color: #ffffff;
        font-family: Mitr, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.4rem;
        font-weight: 700;
      }
    }
    .group-135-ZQh {
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.5rem 0.5rem 0.5rem 2.4rem;
      align-items: center;
      border: solid 0.05rem #858585;
      border-radius: 2.5rem;
      margin: 0rem 5.6rem 0.1rem 0rem;
      display: flex;

      .tm-kim-fCq {
        font-weight: 300;
        line-height: 1.57;
        color: #858585;
        font-family: Mitr, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 27.6rem 0rem 0rem;
        font-size: 2rem;
      }
      .group-134-mWm {
        width: 4.5rem;
        height: 4.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .thc-n-GyK {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 5.3rem;
      font-size: 2.4rem;
      color: #ffffff;
      font-family: Mitr, 'Source Sans Pro';
      cursor: pointer;
      font-weight: 700;
      line-height: 1.57;
    }
    .khuyn-mi-bEu {
      flex-shrink: 0;
      margin: 0rem 4.88rem 0.2rem 0rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.57;
      color: #ffffff;
      font-family: Mitr, 'Source Sans Pro';
      white-space: nowrap;
    }
    .group-180-uFb {
      display: flex;
      column-gap: 2.7049rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 0.1rem;

      .group-177-SmK {
        box-sizing: border-box;
        padding: 0.992rem 0.672rem 0.811rem 0.721rem;
        height: 5.4098rem;
        background-color: #ffffff;
        border-radius: 2.7049rem;
        flex-shrink: 0;
        margin-bottom: 0.0902rem;

        .icon-user-circle-Zb3 {
          vertical-align: top;
          width: 4.0162rem;
          height: 3.6066rem;
          object-fit: contain;
        }
      }
      .group-179-UT7 {
        border-radius: 2.7049rem;
        flex-shrink: 0;
        margin-bottom: 0.0902rem;
        box-sizing: border-box;
        padding: 1.172rem 0.903rem 1.082rem 0.992rem;
        height: 5.4098rem;
        cursor: pointer;
        background-color: #ffffff;

        .icon-shopping-cart-bXj {
          object-fit: contain;
          vertical-align: top;
          width: 3.5154rem;
          height: 3.1557rem;
        }
      }
      .group-178-7W5 {
        border-radius: 2.7049rem;
        flex-shrink: 0;
        margin-top: 0.0902rem;
        box-sizing: border-box;
        padding: 0.902rem 0.904rem 0.902rem 0.992rem;
        height: 5.4098rem;
        background-color: #ffffff;

        .icon-bell-dUR {
          width: 3.5142rem;
          height: 3.6066rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
  .auto-group-59hx-78h {
    margin-bottom: 0.3rem;
    width: 100%;
    height: 100.5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-uegu-DxR {
      box-sizing: border-box;
      width: 45.1rem;
      display: flex;
      border: solid 0.05rem #d00000;
      padding: 5rem 0rem 31.3rem 0.1rem;
      height: 100%;
      align-items: center;
      flex-direction: column;
      background-color: #ffffff;
      flex-shrink: 0;

      .ellipse-1-L1T {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 2.006rem 0.2rem;
        width: 15rem;
        height: 15.0938rem;
      }
      .nnhgiangg-eXw {
        flex-shrink: 0;
        margin: 0rem 0.1rem 3.2rem 0rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.57;
        color: #d00000;
        font-family: Mitr, 'Source Sans Pro';
        white-space: nowrap;
      }
      .group-183-Zeu {
        font-size: 2.2rem;
        color: #ffffff;
        width: 100%;
        line-height: 1.57;
        font-family: Mitr, 'Source Sans Pro';
        align-items: center;
        font-weight: 600;
        white-space: nowrap;
        border: solid 0.1rem #d00000;
        box-sizing: border-box;
        height: 8rem;
        display: flex;
        justify-content: center;
        background-color: #d00000;
        flex-shrink: 0;
      }
      .group-184-Fnd {
        height: 8rem;
        flex-shrink: 0;
        white-space: nowrap;
        align-items: center;
        background-color: #ffffff;
        justify-content: center;
        margin: 0 2.5rem;
        width: calc(100% - 5rem);
        font-weight: 500;
        color: #d00000;
        display: flex;
        cursor: pointer;
        font-size: 2.2rem;
        line-height: 1.57;
        font-family: Mitr, 'Source Sans Pro';
      }
      .group-185-jSu {
        width: calc(100% - 5rem);
        height: 8rem;
        font-size: 2.2rem;
        white-space: nowrap;
        margin: 0 2.5rem;
        cursor: pointer;
        font-family: Mitr, 'Source Sans Pro';
        display: flex;
        box-sizing: border-box;
        flex-shrink: 0;
        line-height: 1.57;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 500;
        color: #d00000;
        background-color: #ffffff;
        border-top: solid 0.1rem #d00000;
      }
      .group-186-Q3F {
        font-weight: 500;
        justify-content: center;
        display: flex;
        flex-shrink: 0;
        margin: 0rem 2.4rem 0rem 2.6rem;
        height: 8rem;
        font-size: 2.2rem;
        font-family: Mitr, 'Source Sans Pro';
        align-items: center;
        cursor: pointer;
        text-align: center;
        color: #d00000;
        white-space: nowrap;
        box-sizing: border-box;
        width: calc(100% - 5rem);
        line-height: 1.57;
        background-color: #ffffff;
        border-top: solid 0.1rem #d00000;
      }
      .group-187-eTP {
        width: calc(100% - 5rem);
        height: 8rem;
        border-top: solid 0.1rem #d00000;
        font-weight: 500;
        line-height: 1.57;
        justify-content: center;
        background-color: #ffffff;
        box-sizing: border-box;
        flex-shrink: 0;
        font-size: 2.2rem;
        font-family: Mitr, 'Source Sans Pro';
        margin: 0rem 2.4rem 0rem 2.6rem;
        cursor: pointer;
        text-align: center;
        color: #d00000;
        white-space: nowrap;
        display: flex;
        align-items: center;
      }
      .line-15-gey {
        margin: 0rem 7.3rem 0rem 7.7rem;
        width: calc(100% - 15rem);
        height: 0.1rem;
        background-color: #d00000;
        flex-shrink: 0;
      }
    }
    .auto-group-ohhf-nCD {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 9.3rem 0rem 14.2rem 9.6rem;
      height: 100%;

      .auto-group-na8m-WP7 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 9.9rem;
        width: 120rem;
        height: 100%;
        align-items: center;

        .thng-tin-ti-khon-SXf {
          margin: 0rem 1.7rem 2.5rem 0rem;
          font-size: 4rem;
          font-weight: 500;
          line-height: 1.57;
          color: #d00000;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .vector-kHT {
          width: 120rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 4.5rem;
        }
        .group-200-6MK {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 15.5rem 3.2rem 18.5rem;
          width: calc(100% - 34rem);
          align-items: center;

          .auto-group-8j8v-d6M {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0rem 0rem 3.5rem 4.2rem;
            width: 100%;
            align-items: flex-end;
            display: flex;

            .group-191-Mo3 {
              display: flex;
              align-items: center;
              border-radius: 3rem;
              flex-shrink: 0;
              margin-bottom: 3.5rem;
              width: 100%;
              height: 6rem;

              .h-v-tn-JyB {
                color: #d00000;
                font-family: Mitr, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.2rem 5rem 0rem 0rem;
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.57;
              }
              .group-189-dVf {
                color: #000000;
                border: solid 0.05rem #858585;
                background-color: #ffffff;
                border-radius: 3rem;
                height: 100%;
                font-size: 2.2rem;
                width: 65rem;
                white-space: nowrap;
                line-height: 1.57;
                font-family: Mitr, 'Source Sans Pro';
                flex-shrink: 0;
                box-sizing: border-box;
                font-weight: 300;
                padding: 1.2rem 4.5rem 1.3rem 4.5rem;
              }
            }
            .auto-group-a1v5-UmB {
              width: 100%;
              height: 6rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .ngy-sinh-RwK {
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.57;
                color: #d00000;
                font-family: Mitr, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.2rem 5rem 0rem 0rem;
              }
              .group-189-9sK {
                flex-shrink: 0;
                padding: 1.4rem 3.7rem 1.4rem 4.5rem;
                height: 100%;
                display: flex;
                align-items: center;
                border: solid 0.05rem #858585;
                background-color: #ffffff;
                border-radius: 3rem;
                box-sizing: border-box;

                .item-01-01-2003-HTj {
                  flex-shrink: 0;
                  margin: 0rem 42.1rem 0.1rem 0rem;
                  font-size: 2.2rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .vector-BZ7 {
                  width: 2.8rem;
                  height: 3.2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
          }
          .group-193-HMF {
            border-radius: 3rem;
            flex-shrink: 0;
            width: 100%;
            height: 6rem;
            display: flex;
            align-items: center;

            .s-in-thoi-3LR {
              font-family: Mitr, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.2rem 5rem 0rem 0rem;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.57;
              color: #d00000;
            }
            .group-189-Mru {
              font-weight: 400;
              padding: 1.6rem 4.5rem 1.7rem 4.5rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              border: solid 0.05rem #858585;
              background-color: #ffffff;
              flex-shrink: 0;
              height: 100%;
              font-size: 2.2rem;
              color: #000000;
              border-radius: 3rem;
              box-sizing: border-box;
              width: 65rem;
            }
          }
          .auto-group-eyyd-bmF {
            padding: 3.5rem 0rem 0rem 5.7rem;
            width: 100%;
            row-gap: 3.5rem;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .group-194-8FP {
              margin-left: 4.2rem;
              width: calc(100% - 4.2rem);
              height: 6rem;
              display: flex;
              align-items: center;
              border-radius: 3rem;
              flex-shrink: 0;

              .email-sCy {
                font-family: Mitr, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.2rem 5rem 0rem 0rem;
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.57;
                color: #d00000;
              }
              .group-189-PSD {
                height: 100%;
                font-size: 2.2rem;
                font-family: Mitr, 'Source Sans Pro';
                box-sizing: border-box;
                line-height: 1.57;
                white-space: nowrap;
                border: solid 0.05rem #858585;
                font-weight: 300;
                border-radius: 3rem;
                flex-shrink: 0;
                padding: 1.2rem 4.5rem 1.3rem 4.5rem;
                width: 65rem;
                color: #000000;
                background-color: #ffffff;
              }
            }
            .group-195-3Wm {
              border-radius: 3rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-left: 0.2rem;
              width: 100%;
              height: 6rem;
              display: flex;
              align-items: center;

              .gii-tnh-Bcy {
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.57;
                white-space: nowrap;
                margin: 0.2rem 5rem 0rem 0rem;
                text-align: right;
                color: #d00000;
                font-family: Mitr, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .group-189-VNm {
                font-weight: 300;
                font-family: Mitr, 'Source Sans Pro';
                border-radius: 3rem;
                flex-shrink: 0;
                box-sizing: border-box;
                width: 65rem;
                font-size: 2.2rem;
                padding: 1.2rem 4.5rem 1.3rem 4.5rem;
                color: #000000;
                border: solid 0.05rem #858585;
                height: 100%;
                line-height: 1.57;
                white-space: nowrap;
                background-color: #ffffff;
              }
            }
            .group-196-eQ5 {
              margin-left: 1.9rem;
              width: calc(100% - 1.9rem);
              height: 6rem;
              display: flex;
              align-items: center;
              border-radius: 3rem;
              flex-shrink: 0;

              .a-ch-yhF {
                flex-shrink: 0;
                font-weight: 500;
                font-family: Mitr, 'Source Sans Pro';
                white-space: nowrap;
                line-height: 1.57;
                color: #d00000;
                margin: 0.2rem 5rem 0rem 0rem;
                text-align: right;
                font-size: 2.4rem;
              }
              .group-189-gLm {
                box-sizing: border-box;
                background-color: #ffffff;
                border: solid 0.05rem #858585;
                flex-shrink: 0;
                width: 65rem;
                color: #000000;
                font-family: Mitr, 'Source Sans Pro';
                align-items: center;
                justify-content: center;
                border-radius: 3rem;
                line-height: 1.57;
                white-space: nowrap;
                display: flex;
                height: 100%;
                font-size: 2.2rem;
                font-weight: 300;
              }
            }
          }
        }
        .group-198-MC1 {
          font-family: Mitr, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          background-color: #d00000;
          font-size: 2.4rem;
          font-weight: 400;
          color: #ffffff;
          border-radius: 3rem;
          margin: 0rem 47.5rem 0rem 50.5rem;
          width: calc(100% - 98rem);
          align-items: center;
          line-height: 1.57;
          white-space: nowrap;
          height: 5rem;
          flex-shrink: 0;
        }
      }
      .group-127-QRB {
        margin: 25.5rem 0rem 36rem 0rem;
        flex-direction: column;
        background-color: #d00000;
        flex-shrink: 0;
        align-items: center;
        display: flex;
        border-radius: 1.5rem 0 0 1.5rem;
        box-sizing: border-box;
        padding: 2.5rem 2rem 3rem 1.9rem;
        width: 7.5rem;
        height: calc(100% - 61.5rem);

        .icon-messager-hv5 {
          height: 3.7rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 3.1rem;
          width: 3.6rem;
        }
        .vector-3DF {
          width: 3.2001rem;
          height: 3.2001rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-left: 0.2001rem;
        }
      }
    }
  }
  .group-29-LTF {
    display: flex;
    align-items: center;
    background-color: #333333;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 6.5rem 13.5rem 7.666rem 21.9rem;
    width: 100%;
    height: 45.4rem;

    .auto-group-vg8v-FaD {
      margin-right: 7.4rem;
      width: 48.2rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-ybmf-b8H {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0 0.6rem;

        .group-278-vwF {
          background-color: #ffffff;
          border-radius: 4rem;
          flex-shrink: 0;
          margin: 0rem 0rem 1.5rem 8.3rem;
          width: 10rem;
          border: solid 0.4rem #ffba08;
          box-sizing: border-box;

          .letter-f-1-ra1 {
            width: 10rem;
            height: 10rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .fastfoodcom-mBB {
          font-weight: 600;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.8rem;
        }
      }
      .group-282-JB7 {
        flex-shrink: 0;
        width: 100%;
        display: flex;
        flex-direction: column;

        .auto-group-vsbp-ekm {
          width: calc(100% - 25.3476rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          margin: 0rem 25.1rem 1.647rem 0.248rem;

          .icon-alternate-phone-BEu {
            margin-right: 1.6524rem;
            width: 2.7rem;
            height: 2.9531rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item-084-0123456789-WHB {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2531rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.57;
            color: #f6aa1c;
            font-family: Mitr, 'Source Sans Pro';
          }
        }
        .auto-group-znff-R9F {
          margin: 0rem 0rem 1.606rem 0.148rem;
          width: calc(100% - 0.1476rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .icon-alternate-map-marker-kBX {
            width: 2.025rem;
            height: 2.9531rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2.4274rem;
          }
          .nguyn-hu-th-phng-tn-phong-q7-UdK {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.57;
            color: #f6aa1c;
            font-family: Mitr, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2938rem;
          }
        }
        .auto-group-5jav-bC9 {
          margin-right: 23.9rem;
          width: calc(100% - 23.9rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .icon-at-Kdw {
            flex-shrink: 0;
            margin-right: 1.9261rem;
            width: 2.6739rem;
            height: 2.9531rem;
            object-fit: contain;
            vertical-align: top;
          }
          .fastfoodgmailcom-fC1 {
            flex-shrink: 0;
            margin-bottom: 0.3344rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.57;
            color: #f6aa1c;
            font-family: Mitr, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
    .group-285-P81 {
      margin: 0rem 13.3rem 9.234rem 0rem;
      width: 15.7rem;
      flex-shrink: 0;

      .thng-tin-vNq {
        line-height: 1.57;
        color: #f6aa1c;
        font-family: Mitr, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2.8rem;
        font-weight: 600;
      }
      .group-280-3iM {
        flex-direction: column;
        width: 100%;
        row-gap: 1.2rem;
        display: flex;

        .tin-tc-PXK {
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 400;
        }
        .tuyn-dng-8E1 {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .khuyn-mi-fDw {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 0.1rem;
        }
        .nhng-quyn-Pfj {
          font-weight: 400;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
        }
      }
    }
    .group-284-ixu {
      margin: 0rem 13rem 13.934rem 0rem;
      width: 24rem;
      flex-shrink: 0;

      .h-tr-fNM {
        white-space: nowrap;
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 1.57;
        color: #f6aa1c;
        font-family: Mitr, 'Source Sans Pro';
      }
      .group-281-Ct5 {
        width: 100%;
        row-gap: 1.2rem;
        display: flex;
        flex-direction: column;

        .bo-mt-thng-tin-ZCq {
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
          color: #f6aa1c;
        }
        .chnh-sch-giao-hng-6Tf {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
        }
        .chm-sc-khch-hng-EJy {
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 400;
        }
      }
    }
    .group-283-ATX {
      margin-bottom: 3.9344rem;
      width: 35rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-dc1k-ug1 {
        padding-bottom: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;

        .fastfood-social-Fzm {
          font-weight: 600;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.7rem;
          font-size: 2.8rem;
        }
        .auto-group-zgtf-CQD {
          flex-shrink: 0;
          margin: 0rem 20.962rem 3.4rem 0rem;
          width: calc(100% - 20.9621rem);
          display: flex;
          align-items: center;

          .vector-LFX {
            margin-right: 2rem;
            width: 6.0365rem;
            height: 6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .vector-gKP {
            width: 6.0013rem;
            height: 6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .ng-k-nhn-email-Rnm {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
        }
      }
      .group-34-MRX {
        height: 6rem;
        align-items: center;
        background-color: #ffffff;
        border-radius: 3.6rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.6rem 0.778rem 0.6rem 2.7rem;
        width: 100%;
        display: flex;
        border: solid 0.12rem #f6aa1c;

        .enter-your-email-TzM {
          font-weight: 300;
          line-height: 1.57;
          color: #858585;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 8.437rem 0.1rem 0rem;
          font-size: 2.2rem;
        }
        .group-33-zUV {
          box-sizing: border-box;
          padding: 1.01rem 1.35rem 1.01rem 0.832rem;
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:1:292');
          flex-shrink: 0;

          .group-32-vd3 {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            width: 3.0034rem;
            height: 2.7803rem;
          }
        }
      }
    }
  }
}
