
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.trang-gi-hng-Pnd {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .group-279-gmj {
    padding: 2.2rem 14.68rem 2.2rem 13.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #d00000;
    flex-shrink: 0;
    box-sizing: border-box;

    .group-278-PRF {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0.2rem 31.8rem 0rem 0rem;
      height: 5.4rem;
      cursor: pointer;

      .auto-group-ajxd-hgq {
        width: 5rem;
        height: calc(100% - 0.4rem);
        border: solid 0.2rem #ffba08;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 2rem;
        flex-shrink: 0;
        margin: 0.1rem 2rem 0.3rem 0rem;

        .letter-f-1-1hX {
          width: 5rem;
          height: 5rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .fastfood-iM3 {
        flex-shrink: 0;
        font-size: 3.4rem;
        font-weight: 700;
        line-height: 1.57;
        color: #ffffff;
        font-family: Mitr, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-135-EqB {
      box-sizing: border-box;
      border-radius: 2.5rem;
      flex-shrink: 0;
      margin: 0rem 5.6rem 0.1rem 0rem;
      padding: 0.5rem 0.5rem 0.5rem 2.4rem;
      display: flex;
      align-items: center;
      border: solid 0.05rem #858585;
      background-color: #ffffff;

      .tm-kim-XZP {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 27.6rem 0rem 0rem;
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.57;
        color: #858585;
        font-family: Mitr, 'Source Sans Pro';
      }
      .group-134-Dx1 {
        height: 4.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 4.5rem;
      }
    }
    .thc-n-uZw {
      font-family: Mitr, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 5.3rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.57;
      color: #ffffff;
      white-space: nowrap;
      cursor: pointer;
    }
    .khuyn-mi-R2V {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 4.88rem 0.2rem 0rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.57;
      color: #ffffff;
      font-family: Mitr, 'Source Sans Pro';
    }
    .group-180-L9T {
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      display: flex;
      column-gap: 2.7049rem;

      .group-177-Tzm {
        flex-shrink: 0;
        margin-bottom: 0.0902rem;
        box-sizing: border-box;
        padding: 0.992rem 0.672rem 0.811rem 0.721rem;
        height: 5.4098rem;
        cursor: pointer;
        background-color: #ffffff;
        border-radius: 2.7049rem;

        .icon-user-circle-Nrq {
          vertical-align: top;
          width: 4.0162rem;
          height: 3.6066rem;
          object-fit: contain;
        }
      }
      .group-179-h8R {
        padding: 1.172rem 0.903rem 1.082rem 0.992rem;
        height: 5.4098rem;
        background-color: #ffffff;
        border-radius: 2.7049rem;
        flex-shrink: 0;
        margin-bottom: 0.0902rem;
        box-sizing: border-box;

        .icon-shopping-cart-RKK {
          width: 3.5154rem;
          height: 3.1557rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .group-178-9FK {
        height: 5.4098rem;
        background-color: #ffffff;
        border-radius: 2.7049rem;
        flex-shrink: 0;
        margin-top: 0.0902rem;
        box-sizing: border-box;
        padding: 0.902rem 0.904rem 0.902rem 0.992rem;

        .icon-bell-U2h {
          width: 3.5142rem;
          height: 3.6066rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
  .auto-group-jh5w-nZB {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5rem 0rem 13.6rem 21rem;
    width: 100%;
    row-gap: 3rem;
    align-items: center;

    .group-234-uNu {
      margin-right: 21rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .gi-hng-ca-ti-erH {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 2.1rem;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.57;
        color: #d00000;
        font-family: Mitr, 'Source Sans Pro';
      }
      .vector-yNm {
        vertical-align: top;
        flex-shrink: 0;
        width: 150rem;
        height: 2rem;
        object-fit: contain;
      }
    }
    .auto-group-ezch-ibF {
      height: 39rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      width: 100%;

      .auto-group-rsnv-U4d {
        margin-right: 13.5rem;
        width: 150rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .group-237-och {
          height: 18rem;
          margin-bottom: 3rem;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          box-shadow: 0 0.4rem 0.4rem #fae0e4;
          background-color: #ffffff;
          flex-shrink: 0;
          padding: 1.5rem 5rem;
          width: 100%;

          .group-235-X2u {
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 5rem;
            width: 4rem;
          }
          .de-lekkerste-rewards-en-deals-1-dLq {
            height: 15rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:940d9a0d34ff0f1588982e73536b31416d3f0b7a');
            flex-shrink: 0;
            margin-right: 4.9533rem;
            width: 19.6467rem;
          }
          .burger-ph-mai-8oP {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 31.2rem 0.2rem 0rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.57;
            color: #000000;
            font-family: Mitr, 'Source Sans Pro';
          }
          .item-50000--emj {
            font-weight: 400;
            line-height: 1.1;
            color: #000000;
            font-family: Coiny, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 4.9rem 0rem 0rem;
            font-size: 2.4rem;
          }
          .group-236-Ys7 {
            margin: 5rem 5.05rem 4.95rem 0rem;
            height: calc(100% - 9.95rem);
            display: flex;
            align-items: center;
            border-radius: 1rem;
            flex-shrink: 0;

            .auto-group-chsd-UVs {
              display: flex;
              align-items: center;
              margin: 0.05rem 0.95rem 0rem 0rem;
              font-size: 2.4rem;
              line-height: 1.1;
              justify-content: center;
              background-color: #d00000;
              width: 5rem;
              height: 5rem;
              font-family: Coiny, 'Source Sans Pro';
              white-space: nowrap;
              border-radius: 1rem;
              flex-shrink: 0;
              font-weight: 400;
              color: #ffffff;
            }
            .auto-group-tdky-kCV {
              align-items: center;
              margin: 0rem 1rem 0.05rem 0rem;
              white-space: nowrap;
              display: flex;
              border-radius: 1rem;
              width: 5rem;
              font-size: 2.4rem;
              justify-content: center;
              line-height: 1.1;
              font-family: Coiny, 'Source Sans Pro';
              background-color: #fae0e4;
              flex-shrink: 0;
              height: 5rem;
              font-weight: 400;
              color: #000000;
            }
            .auto-group-hntm-ckV {
              justify-content: center;
              border-radius: 1rem;
              color: #ffffff;
              white-space: nowrap;
              font-family: Coiny, 'Source Sans Pro';
              width: 5rem;
              height: 5rem;
              font-weight: 400;
              line-height: 1.1;
              display: flex;
              align-items: center;
              background-color: #d00000;
              flex-shrink: 0;
              margin-top: 0.05rem;
              font-size: 2.4rem;
            }
          }
          .item-50000--Hbj {
            font-family: Coiny, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 4.9rem 0rem 0rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.1;
            color: #000000;
          }
          .delete-1-c8D {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 4rem;
            height: 4rem;
          }
        }
        .group-240-K2d {
          box-sizing: border-box;
          height: 18rem;
          box-shadow: 0 0.4rem 0.4rem #fae0e4;
          flex-shrink: 0;
          padding: 1.6rem 5rem 1.4rem 5rem;
          width: 100%;
          display: flex;
          align-items: center;
          background-color: #ffffff;

          .group-235-qFs {
            margin: 0rem 4.5rem 0.2rem 0rem;
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .combo-de-pollo-frito-png-download-crispy-fried-chicken-clipart-large-size-png-image-pikpng-1-8Ey {
            margin-right: 4.5693rem;
            width: 20.5307rem;
            height: 15rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .combo-g-rn-yWV {
            flex-shrink: 0;
            margin: 0rem 32.8rem 0.4rem 0rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.57;
            color: #000000;
            font-family: Mitr, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-95000--65K {
            flex-shrink: 0;
            margin: 0rem 5.1rem 0.1rem 0rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.1;
            color: #000000;
            font-family: Coiny, 'Source Sans Pro';
            white-space: nowrap;
          }
          .group-236-c3f {
            margin: 4.9rem 5.05rem 5.05rem 0rem;
            height: calc(100% - 9.95rem);
            display: flex;
            align-items: center;
            border-radius: 1rem;
            flex-shrink: 0;

            .auto-group-uyff-jPB {
              font-size: 2.4rem;
              font-family: Coiny, 'Source Sans Pro';
              display: flex;
              align-items: center;
              justify-content: center;
              flex-shrink: 0;
              color: #ffffff;
              background-color: #d00000;
              white-space: nowrap;
              border-radius: 1rem;
              margin: 0.05rem 0.95rem 0rem 0rem;
              width: 5rem;
              height: 5rem;
              font-weight: 400;
              line-height: 1.1;
            }
            .auto-group-xhyw-otq {
              border-radius: 1rem;
              flex-shrink: 0;
              font-size: 2.4rem;
              font-family: Coiny, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              color: #000000;
              background-color: #fae0e4;
              margin: 0rem 1rem 0.05rem 0rem;
              justify-content: center;
              align-items: center;
              width: 5rem;
              height: 5rem;
              font-weight: 400;
              line-height: 1.1;
            }
            .auto-group-eepv-Uk5 {
              font-family: Coiny, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              border-radius: 1rem;
              width: 5rem;
              height: 5rem;
              margin-top: 0.05rem;
              font-size: 2.4rem;
              line-height: 1.1;
              align-items: center;
              justify-content: center;
              font-weight: 400;
              color: #ffffff;
              background-color: #d00000;
              flex-shrink: 0;
            }
          }
          .item-95000--kxV {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 5.1rem 0.1rem 0rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.1;
            color: #000000;
            font-family: Coiny, 'Source Sans Pro';
          }
          .delete-1-4yB {
            flex-shrink: 0;
            margin-bottom: 0.2rem;
            width: 4rem;
            height: 4rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
      .group-127-AWR {
        padding: 2.5rem 2rem 3rem 1.9rem;
        align-items: center;
        background-color: #d00000;
        flex-shrink: 0;
        margin-bottom: 5.6rem;
        box-sizing: border-box;
        width: 7.5rem;
        display: flex;
        flex-direction: column;
        border-radius: 1.5rem 0 0 1.5rem;

        .icon-messager-svd {
          margin-bottom: 3.1rem;
          width: 3.6rem;
          height: 3.7rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-1X3 {
          flex-shrink: 0;
          margin-left: 0.2001rem;
          width: 3.2001rem;
          height: 3.2001rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .auto-group-bojk-KGq {
      margin-right: 21rem;
      box-sizing: border-box;
      display: flex;
      flex-shrink: 0;
      padding: 1.6rem 5rem 1.4rem 5rem;
      height: 18rem;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem #fae0e4;
      background-color: #ffffff;

      .group-238-cWq {
        flex-shrink: 0;
        margin: 0rem 5.7rem 0.2rem 0rem;
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        vertical-align: top;
      }
      .c198ed46-84d7-43ec-a703-f29e9346c31d-1-wJD {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 5.7369rem;
        width: 18.1631rem;
        height: 15rem;
        object-fit: cover;
      }
      .kem-v-vani-EYD {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 35.6rem 0.4rem 0rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.57;
        color: #000000;
        font-family: Mitr, 'Source Sans Pro';
      }
      .item-50000--9fB {
        line-height: 1.1;
        color: #000000;
        font-family: Coiny, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 4.9rem 0.1rem 0rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .group-239-UBf {
        border-radius: 1rem;
        flex-shrink: 0;
        margin: 4.9rem 5.05rem 5.05rem 0rem;
        height: calc(100% - 9.95rem);
        display: flex;
        align-items: center;

        .auto-group-e1av-zfo {
          font-family: Coiny, 'Source Sans Pro';
          background-color: #d00000;
          font-weight: 400;
          line-height: 1.1;
          color: #ffffff;
          height: 5rem;
          align-items: center;
          display: flex;
          justify-content: center;
          flex-shrink: 0;
          margin: 0.05rem 0.95rem 0rem 0rem;
          width: 5rem;
          font-size: 2.4rem;
          white-space: nowrap;
          border-radius: 1rem;
        }
        .auto-group-zy1x-3ty {
          margin: 0rem 1rem 0.05rem 0rem;
          width: 5rem;
          font-size: 2.4rem;
          font-weight: 400;
          font-family: Coiny, 'Source Sans Pro';
          white-space: nowrap;
          height: 5rem;
          line-height: 1.1;
          align-items: center;
          flex-shrink: 0;
          border-radius: 1rem;
          color: #000000;
          display: flex;
          justify-content: center;
          background-color: #fae0e4;
        }
        .auto-group-9xyq-Jpu {
          font-size: 2.4rem;
          color: #ffffff;
          display: flex;
          justify-content: center;
          background-color: #d00000;
          flex-shrink: 0;
          margin-top: 0.05rem;
          height: 5rem;
          font-weight: 400;
          line-height: 1.1;
          font-family: Coiny, 'Source Sans Pro';
          width: 5rem;
          align-items: center;
          border-radius: 1rem;
          white-space: nowrap;
        }
      }
      .item-50000--LWh {
        font-family: Coiny, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 4.9rem 0.1rem 0rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.1;
        color: #000000;
      }
      .delete-2-2uK {
        margin-bottom: 0.2rem;
        width: 4rem;
        height: 4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-gdrm-7vm {
    width: 100%;
    height: 10rem;
    background-color: #ffffff;
    flex-shrink: 0;
    border: solid 0.1rem #adb5bd;
    box-sizing: border-box;
    padding: 2rem 21.4rem 2rem 122.1rem;
    display: flex;
    align-items: center;

    .group-242-2nq {
      margin: 1.1rem 2.8rem 1.1rem 0rem;
      height: calc(100% - 2.2rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .tng-tin--XzV {
        font-weight: 600;
        line-height: 1.57;
        color: #d00000;
        font-family: Mitr, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2.3rem;
        font-size: 2.4rem;
      }
      .item-195000--sHf {
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.1;
        color: #d00000;
        font-family: Coiny, 'Source Sans Pro';
      }
    }
    .group-241-PWu {
      align-items: center;
      height: 100%;
      font-size: 2.4rem;
      flex-shrink: 0;
      line-height: 1.57;
      font-family: Mitr, 'Source Sans Pro';
      border-radius: 2rem;
      color: #ffffff;
      justify-content: center;
      font-weight: 400;
      white-space: nowrap;
      display: flex;
      background-color: #d00000;
      width: 20rem;
      cursor: pointer;
    }
  }
  .group-29-F3K {
    background-color: #333333;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 6.5rem 13.5rem 7.666rem 21.9rem;
    width: 100%;
    height: 45.4rem;
    display: flex;
    align-items: center;

    .auto-group-qnx5-kVs {
      margin-right: 7.4rem;
      width: 48.2rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-nvmo-6Jq {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0 0.6rem;
        width: 100%;

        .group-278-e5T {
          margin: 0rem 0rem 1.5rem 8.3rem;
          width: 10rem;
          border: solid 0.4rem #ffba08;
          box-sizing: border-box;
          background-color: #ffffff;
          border-radius: 4rem;
          flex-shrink: 0;

          .letter-f-1-nBf {
            width: 10rem;
            height: 10rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .fastfoodcom-HeD {
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.8rem;
          font-weight: 600;
          line-height: 1.57;
        }
      }
      .group-282-pe9 {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-mwnu-NvZ {
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          margin: 0rem 25.1rem 1.647rem 0.248rem;
          width: calc(100% - 25.3476rem);

          .icon-alternate-phone-JZK {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.6524rem;
            width: 2.7rem;
            height: 2.9531rem;
            object-fit: contain;
          }
          .item-084-0123456789-S9j {
            font-family: Mitr, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2531rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.57;
            color: #f6aa1c;
          }
        }
        .auto-group-xutd-YyT {
          margin: 0rem 0rem 1.606rem 0.148rem;
          width: calc(100% - 0.1476rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .icon-alternate-map-marker-5Tb {
            margin-right: 2.4274rem;
            width: 2.025rem;
            height: 2.9531rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .nguyn-hu-th-phng-tn-phong-q7-oeV {
            line-height: 1.57;
            color: #f6aa1c;
            font-family: Mitr, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2938rem;
            font-size: 2rem;
            font-weight: 400;
          }
        }
        .auto-group-idfj-uhX {
          margin-right: 23.9rem;
          width: calc(100% - 23.9rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .icon-at-rcm {
            margin-right: 1.9261rem;
            width: 2.6739rem;
            height: 2.9531rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .fastfoodgmailcom-CRj {
            font-weight: 400;
            line-height: 1.57;
            color: #f6aa1c;
            font-family: Mitr, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.3344rem;
            font-size: 2rem;
          }
        }
      }
    }
    .group-285-iQ5 {
      margin: 0rem 13.3rem 9.234rem 0rem;
      width: 15.7rem;
      flex-shrink: 0;

      .thng-tin-3hF {
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 1.57;
        color: #f6aa1c;
        font-family: Mitr, 'Source Sans Pro';
        white-space: nowrap;
      }
      .group-280-BoT {
        width: 100%;
        row-gap: 1.2rem;
        display: flex;
        flex-direction: column;

        .tin-tc-ja5 {
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
        }
        .tuyn-dng-swB {
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
        }
        .khuyn-mi-23P {
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 0.1rem;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
        }
        .nhng-quyn-MLZ {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
        }
      }
    }
    .group-284-5nM {
      margin: 0rem 13rem 13.934rem 0rem;
      width: 24rem;
      flex-shrink: 0;

      .h-tr-R5X {
        line-height: 1.57;
        color: #f6aa1c;
        font-family: Mitr, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2.8rem;
        font-weight: 600;
      }
      .group-281-MUy {
        width: 100%;
        row-gap: 1.2rem;
        display: flex;
        flex-direction: column;

        .bo-mt-thng-tin-hYq {
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
        }
        .chnh-sch-giao-hng-qQ9 {
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
        }
        .chm-sc-khch-hng-Ney {
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .group-283-JoX {
      margin-bottom: 3.9344rem;
      width: 35rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-hg13-Fim {
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 1rem;
        width: 100%;
        display: flex;

        .fastfood-social-c3X {
          font-size: 2.8rem;
          font-weight: 600;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.7rem;
        }
        .auto-group-qlhs-93T {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 20.962rem 3.4rem 0rem;
          width: calc(100% - 20.9621rem);

          .vector-sVF {
            height: 6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2rem;
            width: 6.0365rem;
          }
          .vector-RFs {
            vertical-align: top;
            flex-shrink: 0;
            width: 6.0013rem;
            height: 6rem;
            object-fit: contain;
          }
        }
        .ng-k-nhn-email-y2V {
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .group-34-tfF {
        box-sizing: border-box;
        display: flex;
        border: solid 0.12rem #f6aa1c;
        padding: 0.6rem 0.778rem 0.6rem 2.7rem;
        width: 100%;
        height: 6rem;
        align-items: center;
        background-color: #ffffff;
        border-radius: 3.6rem;
        flex-shrink: 0;

        .enter-your-email-Qdb {
          flex-shrink: 0;
          margin: 0rem 8.437rem 0.1rem 0rem;
          font-size: 2.2rem;
          font-weight: 300;
          line-height: 1.57;
          color: #858585;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
        }
        .group-33-8pV {
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:1:457');
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.01rem 1.35rem 1.01rem 0.832rem;

          .group-32-SqB {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            width: 3.0034rem;
            height: 2.7803rem;
          }
        }
      }
    }
  }
}
