
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.trang-h-tr-U9B {
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .group-279-BJV {
    align-items: center;
    background-color: #d00000;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.2rem 14.68rem 2.2rem 13.5rem;
    width: 100%;
    display: flex;

    .group-278-6AZ {
      margin: 0.2rem 31.8rem 0rem 0rem;
      height: 5.4rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-manr-Qww {
        border-radius: 2rem;
        flex-shrink: 0;
        margin: 0.1rem 2rem 0.3rem 0rem;
        width: 5rem;
        height: calc(100% - 0.4rem);
        border: solid 0.2rem #ffba08;
        box-sizing: border-box;
        background-color: #ffffff;

        .letter-f-1-98q {
          height: 5rem;
          object-fit: cover;
          vertical-align: top;
          width: 5rem;
        }
      }
      .fastfood-qXT {
        font-size: 3.4rem;
        font-weight: 700;
        line-height: 1.57;
        color: #ffffff;
        font-family: Mitr, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-135-wqP {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      border: solid 0.05rem #858585;
      background-color: #ffffff;
      border-radius: 2.5rem;
      margin: 0rem 5.6rem 0.1rem 0rem;
      padding: 0.5rem 0.5rem 0.5rem 2.4rem;
      flex-shrink: 0;

      .tm-kim-ezh {
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.57;
        color: #858585;
        font-family: Mitr, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 27.6rem 0rem 0rem;
      }
      .group-134-xkV {
        width: 4.5rem;
        height: 4.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .thc-n-sMf {
      color: #ffffff;
      line-height: 1.57;
      font-family: Mitr, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 5.3rem;
      cursor: pointer;
      font-size: 2.4rem;
      font-weight: 700;
    }
    .khuyn-mi-ams {
      flex-shrink: 0;
      margin: 0rem 4.88rem 0.2rem 0rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.57;
      color: #ffffff;
      font-family: Mitr, 'Source Sans Pro';
      white-space: nowrap;
    }
    .group-180-6VK {
      margin-bottom: 0.1rem;
      display: flex;
      column-gap: 2.7049rem;
      align-items: center;
      flex-shrink: 0;

      .group-177-2ds {
        flex-shrink: 0;
        margin-bottom: 0.0902rem;
        box-sizing: border-box;
        padding: 0.992rem 0.672rem 0.811rem 0.721rem;
        height: 5.4098rem;
        background-color: #ffffff;
        border-radius: 2.7049rem;

        .icon-user-circle-8wo {
          width: 4.0162rem;
          height: 3.6066rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .group-179-44m {
        cursor: pointer;
        background-color: #ffffff;
        border-radius: 2.7049rem;
        flex-shrink: 0;
        margin-bottom: 0.0902rem;
        box-sizing: border-box;
        padding: 1.172rem 0.903rem 1.082rem 0.992rem;
        height: 5.4098rem;

        .icon-shopping-cart-ySd {
          vertical-align: top;
          width: 3.5154rem;
          height: 3.1557rem;
          object-fit: contain;
        }
      }
      .group-178-Vfs {
        border-radius: 2.7049rem;
        flex-shrink: 0;
        margin-top: 0.0902rem;
        box-sizing: border-box;
        padding: 0.902rem 0.904rem 0.902rem 0.992rem;
        height: 5.4098rem;
        background-color: #ffffff;

        .icon-bell-2Qu {
          width: 3.5142rem;
          height: 3.6066rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
  .auto-group-vdmf-wXs {
    flex-shrink: 0;
    width: 100%;
    height: 100.5rem;
    display: flex;
    align-items: center;

    .auto-group-85df-V3b {
      flex-direction: column;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 5rem 0.175rem 31.4rem 0.1rem;
      width: 45.1rem;
      height: 100%;
      align-items: center;
      display: flex;
      border: solid 0.05rem #d00000;
      flex-shrink: 0;

      .ellipse-1-aaq {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 2.006rem 0.375rem;
        width: 15rem;
        height: 15.0938rem;
        object-fit: contain;
      }
      .nnhgiangg-74y {
        flex-shrink: 0;
        margin: 0rem 0rem 3.2rem 0.275rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.57;
        color: #d00000;
        font-family: Mitr, 'Source Sans Pro';
        white-space: nowrap;
      }
      .group-183-pEH {
        font-weight: 500;
        line-height: 1.57;
        background-color: #ffffff;
        flex-shrink: 0;
        font-size: 2.2rem;
        white-space: nowrap;
        font-family: Mitr, 'Source Sans Pro';
        justify-content: center;
        border-top: solid 0.1rem #d00000;
        align-items: center;
        height: 8rem;
        cursor: pointer;
        color: #d00000;
        display: flex;
        border: solid 0.1rem #ffffff;
        box-sizing: border-box;
        width: 100%;
      }
      .group-184-Gry {
        display: flex;
        box-sizing: border-box;
        flex-shrink: 0;
        color: #d00000;
        font-family: Mitr, 'Source Sans Pro';
        line-height: 1.57;
        width: calc(100% - 4.8246rem);
        font-weight: 500;
        font-size: 2.2rem;
        white-space: nowrap;
        align-items: center;
        background-color: #ffffff;
        height: 8rem;
        cursor: pointer;
        border-top: solid 0.1rem #d00000;
        margin: 0rem 2.325rem 0rem 2.5rem;
        justify-content: center;
      }
      .group-185-vwX {
        font-size: 2.2rem;
        line-height: 1.57;
        font-family: Mitr, 'Source Sans Pro';
        background-color: #d00000;
        margin-right: 0.0013rem;
        width: calc(100% - 0.0013rem);
        font-weight: 600;
        display: flex;
        justify-content: center;
        height: 8rem;
        text-align: center;
        flex-shrink: 0;
        align-items: center;
        color: #ffffff;
        white-space: nowrap;
      }
      .group-186-Dfj {
        flex-shrink: 0;
        font-family: Mitr, 'Source Sans Pro';
        background-color: #ffffff;
        align-items: center;
        justify-content: center;
        height: 8rem;
        line-height: 1.57;
        cursor: pointer;
        text-align: center;
        font-size: 2.2rem;
        font-weight: 500;
        white-space: nowrap;
        display: flex;
        margin: 0rem 2.225rem 0rem 2.6rem;
        width: calc(100% - 4.8246rem);
        border-top: solid 0.1rem #d00000;
        box-sizing: border-box;
        color: #d00000;
      }
      .group-187-Rmo {
        width: calc(100% - 4.8246rem);
        color: #d00000;
        white-space: nowrap;
        box-sizing: border-box;
        font-size: 2.2rem;
        line-height: 1.57;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        cursor: pointer;
        text-align: center;
        font-family: Mitr, 'Source Sans Pro';
        background-color: #ffffff;
        border-top: solid 0.1rem #d00000;
        margin: 0rem 2.225rem 0rem 2.6rem;
        height: 8rem;
        font-weight: 500;
        display: flex;
      }
    }
    .auto-group-b1vd-TTb {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 10.3rem 0rem 10.2rem 3.3rem;
      height: 100%;

      .group-201-nkm {
        box-sizing: border-box;
        border-radius: 3rem;
        flex-shrink: 0;
        height: 100%;
        align-items: center;
        display: flex;
        border: solid 0.1rem #d00000;
        background-color: #ffffff;
        margin-right: 3.2rem;
        width: 133rem;
        flex-direction: column;

        .auto-group-atud-jR7 {
          padding: 1.6rem 3.5rem;
          font-size: 2.4rem;
          line-height: 1.57;
          color: #ffffff;
          font-family: Mitr, 'Source Sans Pro';
          border-radius: 3rem 3rem 0 0;
          box-sizing: border-box;
          width: 100%;
          font-weight: 500;
          white-space: nowrap;
          background-color: #d00000;
          flex-shrink: 0;
        }
        .auto-group-ljxw-E6y {
          box-sizing: border-box;
          padding: 5rem 3.3rem 1.8rem 3rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-tehb-AFX {
            margin: 0rem 55.7rem 45.2rem 0rem;
            width: calc(100% - 55.7rem);
            height: 14rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .ellipse-23-5dP {
              height: 6rem;
              background-repeat: no-repeat;
              flex-shrink: 0;
              border-radius: 3rem;
              margin-right: 2rem;
              width: 6rem;
              background-size: 100% 100%;
              background-position: center;
              background-image: url('REPLACE_IMAGE:f66ba475380dcd404940ed9e92fefdf2931243c7');
            }
            .auto-group-ybcr-Pty {
              background-color: #fae0e4;
              border-radius: 3rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.2rem 2.1rem 1.4rem 1.7rem;
              width: 63rem;
              height: 100%;

              .cho-bn-fastfood-c-th-gip-c-g-cho-bn-hy-li-cu-hi-chng-ti-s-tr-li-bn-sm-nht-c-th-8Lm {
                font-family: Mitr, 'Source Sans Pro';
                max-width: 59.2rem;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.57;
                color: #545455;
              }
            }
          }
          .group-34-9mf {
            padding: 1rem 0.999rem 1rem 1.9rem;
            width: calc(100% - 0.2rem);
            background-color: #ffffff;
            border-radius: 3.6rem;
            margin-left: 0.2rem;
            box-sizing: border-box;
            align-items: center;
            border: solid 0.12rem #d00000;
            flex-shrink: 0;
            height: 7rem;
            display: flex;

            .nhp-cu-hi--GbP {
              line-height: 1.57;
              color: #ff758f;
              font-family: Mitr, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 101.7rem 0.1rem 0rem;
              font-size: 2.2rem;
              font-weight: 400;
            }
            .group-33-PR7 {
              background-repeat: no-repeat;
              background-position: center;
              background-image: url('REPLACE_IMAGE:1:751');
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.052rem 1.406rem 1.052rem 0.866rem;
              height: 100%;
              background-size: cover;

              .group-32-jUy {
                width: 3.1286rem;
                height: 2.8961rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
        }
      }
      .group-127-1Bb {
        margin: 24.5rem 0rem 40rem 0rem;
        box-sizing: border-box;
        display: flex;
        background-color: #d00000;
        border-radius: 1.5rem 0 0 1.5rem;
        flex-shrink: 0;
        padding: 2.5rem 2rem 3rem 1.9rem;
        width: 7.5rem;
        height: calc(100% - 64.5rem);
        align-items: center;
        flex-direction: column;

        .icon-messager-7VX {
          margin-bottom: 3.1rem;
          width: 3.6rem;
          height: 3.7rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-Snh {
          margin-left: 0.2001rem;
          width: 3.2001rem;
          height: 3.2001rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
  .group-29-Yaq {
    box-sizing: border-box;
    padding: 6.5rem 13.5rem 7.666rem 21.9rem;
    width: 100%;
    height: 45.4rem;
    display: flex;
    align-items: center;
    background-color: #333333;
    flex-shrink: 0;

    .auto-group-ef3b-Gmj {
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 7.4rem;
      width: 48.2rem;
      height: 100%;
      align-items: center;
      display: flex;

      .auto-group-4zzf-DS5 {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0 0.6rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .group-278-MYH {
          border-radius: 4rem;
          flex-shrink: 0;
          margin: 0rem 0rem 1.5rem 8.3rem;
          width: 10rem;
          border: solid 0.4rem #ffba08;
          box-sizing: border-box;
          background-color: #ffffff;

          .letter-f-1-gqT {
            width: 10rem;
            height: 10rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .fastfoodcom-173 {
          font-size: 3.8rem;
          font-weight: 600;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .group-282-joj {
        flex-shrink: 0;
        width: 100%;
        display: flex;
        flex-direction: column;

        .auto-group-er65-Vnu {
          flex-shrink: 0;
          margin: 0rem 25.1rem 1.647rem 0.248rem;
          width: calc(100% - 25.3476rem);
          display: flex;
          align-items: flex-end;

          .icon-alternate-phone-pqB {
            width: 2.7rem;
            height: 2.9531rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.6524rem;
          }
          .item-084-0123456789-MaD {
            line-height: 1.57;
            color: #f6aa1c;
            font-family: Mitr, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2531rem;
            font-size: 2rem;
            font-weight: 400;
          }
        }
        .auto-group-8med-epD {
          margin: 0rem 0rem 1.606rem 0.148rem;
          width: calc(100% - 0.1476rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .icon-alternate-map-marker-BZF {
            margin-right: 2.4274rem;
            width: 2.025rem;
            height: 2.9531rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .nguyn-hu-th-phng-tn-phong-q7-7Su {
            flex-shrink: 0;
            margin-bottom: 0.2938rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.57;
            color: #f6aa1c;
            font-family: Mitr, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-z6cd-DVw {
          flex-shrink: 0;
          margin-right: 23.9rem;
          width: calc(100% - 23.9rem);
          display: flex;
          align-items: flex-end;

          .icon-at-mGZ {
            width: 2.6739rem;
            height: 2.9531rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.9261rem;
          }
          .fastfoodgmailcom-tc5 {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.57;
            color: #f6aa1c;
            font-family: Mitr, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.3344rem;
          }
        }
      }
    }
    .group-285-cHB {
      flex-shrink: 0;
      margin: 0rem 13.3rem 9.234rem 0rem;
      width: 15.7rem;

      .thng-tin-9Y1 {
        color: #f6aa1c;
        font-family: Mitr, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 1.57;
      }
      .group-280-h3j {
        width: 100%;
        row-gap: 1.2rem;
        display: flex;
        flex-direction: column;

        .tin-tc-SX7 {
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
        }
        .tuyn-dng-BUh {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
        }
        .khuyn-mi-Kqo {
          flex-shrink: 0;
          margin-left: 0.1rem;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
        }
        .nhng-quyn-4Hb {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .group-284-Pam {
      margin: 0rem 13rem 13.934rem 0rem;
      width: 24rem;
      flex-shrink: 0;

      .h-tr-jed {
        white-space: nowrap;
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 1.57;
        color: #f6aa1c;
        font-family: Mitr, 'Source Sans Pro';
      }
      .group-281-tGd {
        width: 100%;
        row-gap: 1.2rem;
        display: flex;
        flex-direction: column;

        .bo-mt-thng-tin-3QR {
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 400;
        }
        .chnh-sch-giao-hng-ZtZ {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
        }
        .chm-sc-khch-hng-J5T {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .group-283-Rvm {
      width: 35rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 3.9344rem;

      .auto-group-4xkt-P6u {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .fastfood-social-jRf {
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.7rem;
          font-size: 2.8rem;
          font-weight: 600;
          line-height: 1.57;
          color: #f6aa1c;
        }
        .auto-group-vzar-fq7 {
          flex-shrink: 0;
          margin: 0rem 20.962rem 3.4rem 0rem;
          width: calc(100% - 20.9621rem);
          display: flex;
          align-items: center;

          .vector-oRX {
            width: 6.0365rem;
            height: 6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2rem;
          }
          .vector-wnd {
            width: 6.0013rem;
            height: 6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .ng-k-nhn-email-hG1 {
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.57;
          color: #f6aa1c;
        }
      }
      .group-34-1nV {
        box-sizing: border-box;
        padding: 0.6rem 0.778rem 0.6rem 2.7rem;
        width: 100%;
        display: flex;
        align-items: center;
        height: 6rem;
        border: solid 0.12rem #f6aa1c;
        background-color: #ffffff;
        border-radius: 3.6rem;
        flex-shrink: 0;

        .enter-your-email-74q {
          line-height: 1.57;
          color: #fbe5bd;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 8.337rem 0.1rem 0rem;
          font-size: 2.2rem;
          font-weight: 400;
        }
        .group-33-CMB {
          padding: 1.01rem 1.35rem 1.01rem 0.832rem;
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:1:819');
          flex-shrink: 0;
          box-sizing: border-box;

          .group-32-iaR {
            width: 3.0034rem;
            height: 2.7803rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
    }
  }
}
