
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.trang-phn-loi-MY1 {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .auto-group-h9v7-T5F {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 0rem 12.7rem 0.1rem;
    width: 100%;
    row-gap: 5rem;

    .group-287-YsP {
      box-sizing: border-box;
      width: 192rem;
      display: flex;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
      flex-shrink: 0;
      padding: 2.2rem 19.961rem 2.3rem 20.1rem;
      height: 10rem;
      background-color: #ffffff;

      .group-278-FG1 {
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 22rem 0.1rem 0rem;
        height: 5.4rem;

        .auto-group-esir-yC1 {
          flex-shrink: 0;
          margin: 0.3rem 1.9rem 0.1rem 0rem;
          width: 5rem;
          height: calc(100% - 0.4rem);
          border: solid 0.2rem #ffba08;
          box-sizing: border-box;
          background-color: #ffffff;
          border-radius: 2rem;

          .letter-f-1-h81 {
            object-fit: cover;
            vertical-align: top;
            width: 5rem;
            height: 5rem;
          }
        }
        .fastfood-z77 {
          font-size: 3.4rem;
          font-weight: 700;
          line-height: 1.57;
          color: #d00000;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .group-135-JtV {
        padding: 0.5rem 0.5rem 0.5rem 2.4rem;
        border: solid 0.05rem #858585;
        flex-shrink: 0;
        border-radius: 2.5rem;
        margin: 0rem 5rem 0rem 0rem;
        box-sizing: border-box;
        height: calc(100% - 0rem);
        display: flex;
        align-items: center;
        background-color: #ffffff;

        .tm-kim-oaM {
          color: #858585;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 27.6rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 300;
          line-height: 1.57;
        }
        .group-134-KYh {
          width: 4.5rem;
          height: 4.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .thc-n-ocH {
        margin: 0rem 4.7rem 0.1rem 0rem;
        cursor: pointer;
        font-size: 2.4rem;
        flex-shrink: 0;
        font-weight: 700;
        line-height: 1.57;
        color: #d00000;
        font-family: Mitr, 'Source Sans Pro';
        white-space: nowrap;
      }
      .khuyn-mi-65b {
        flex-shrink: 0;
        margin: 0.1rem 4.1rem 0rem 0rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.57;
        color: #d00000;
        font-family: Mitr, 'Source Sans Pro';
        white-space: nowrap;
      }
      .group-180-c3w {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-177-x7o {
          border-radius: 2.7049rem;
          flex-shrink: 0;
          margin: 0rem 2.705rem 0.09rem 0rem;
          box-sizing: border-box;
          padding: 0.992rem 0.672rem 0.811rem 0.721rem;
          height: 5.4098rem;
          cursor: pointer;
          background-color: #d00000;

          .icon-user-circle-f2D {
            height: 3.6066rem;
            object-fit: contain;
            vertical-align: top;
            width: 4.0162rem;
          }
        }
        .group-179-NSR {
          margin: 0rem 2.705rem 0.09rem 0rem;
          box-sizing: border-box;
          padding: 1.172rem 0.903rem 1.082rem 0.992rem;
          height: 5.4098rem;
          cursor: pointer;
          background-color: #d00000;
          border-radius: 2.7049rem;
          flex-shrink: 0;

          .icon-shopping-cart-gCD {
            width: 3.5154rem;
            height: 3.1557rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .group-178-b4H {
          box-sizing: border-box;
          padding: 0.902rem 0.904rem 0.902rem 0.992rem;
          height: 5.4098rem;
          background-color: #d00000;
          border-radius: 2.7049rem;
          flex-shrink: 0;
          margin-top: 0.0902rem;

          .icon-bell-ieh {
            object-fit: contain;
            vertical-align: top;
            width: 3.5142rem;
            height: 3.6066rem;
          }
        }
      }
    }
    .group-233-CZs {
      margin: 0rem 19.9rem 0rem 20rem;
      width: calc(100% - 39.9rem);
      height: 20rem;
      display: flex;
      column-gap: 2rem;
      align-items: center;
      flex-shrink: 0;

      .group-226-Jcu {
        box-sizing: border-box;
        padding: 2.6rem 5rem;
        width: 20rem;
        height: 100%;
        border: solid 0.5rem #ffba08;
        background-color: #fffae5;
        border-radius: 5rem;
        flex-shrink: 0;

        .group-218-EmT {
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;

          .business-1-nY5 {
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 1rem;
            width: 10rem;
            height: 10rem;
            object-fit: cover;
          }
          .combo-vPP {
            font-family: Mitr, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.1rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.57;
            color: #ffba08;
          }
        }
      }
      .group-227-2BX {
        padding: 2.6rem 5rem;
        width: 20rem;
        height: 100%;
        align-items: center;
        border: solid 0.5rem #ffba08;
        background-color: #fffae5;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        border-radius: 5rem;
        flex-shrink: 0;

        .fried-chicken-1-ktD {
          margin-bottom: 1rem;
          width: 10rem;
          height: 10rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .g-rn-5fb {
          font-size: 2.4rem;
          font-weight: 500;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.1rem;
          text-align: center;
          line-height: 1.57;
          color: #ffba08;
        }
      }
      .group-228-Mt1 {
        padding: 4.6rem 2rem 2.6rem 2rem;
        flex-direction: column;
        border: solid 0.5rem #ffba08;
        border-radius: 5rem;
        box-sizing: border-box;
        width: 20rem;
        height: 100%;
        align-items: center;
        display: flex;
        background-color: #fffae5;
        flex-shrink: 0;

        .group-221-Gzy {
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1rem;
          width: 100%;
          display: flex;

          .fried-rice-1-dad {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 8rem;
            height: 8rem;
          }
          .spaguetti-1-aEy {
            width: 8rem;
            height: 8rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .m-cm-vZj {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          line-height: 1.57;
          font-family: Mitr, 'Source Sans Pro';
          color: #ffba08;
          margin-right: 0.2rem;
          text-align: center;
          font-weight: 500;
        }
      }
      .group-229-RWV {
        padding: 2.6rem 3.5rem 2.6rem 3.4rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 5rem;
        box-sizing: border-box;
        width: 20rem;
        align-items: center;
        border: solid 0.5rem #ffba08;
        background-color: #fffae5;
        flex-shrink: 0;

        .burger-1-xWR {
          flex-shrink: 0;
          margin: 0rem 0rem 1rem 0.1rem;
          width: 10rem;
          height: 10rem;
          object-fit: cover;
          vertical-align: top;
        }
        .hamburger-stH {
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.57;
          color: #ffba08;
          font-family: Mitr, 'Source Sans Pro';
        }
      }
      .group-230-Be5 {
        flex-shrink: 0;
        width: 20rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #fffae5;
        box-sizing: border-box;
        padding: 2.6rem 5rem;
        align-items: center;
        border: solid 0.5rem #ffba08;
        border-radius: 5rem;

        .ice-cream-1-vrZ {
          margin-bottom: 1rem;
          width: 10rem;
          height: 10rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .kem-GvR {
          margin-right: 0.2rem;
          font-weight: 500;
          font-family: Mitr, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          font-size: 2.4rem;
          line-height: 1.57;
          color: #ffba08;
          white-space: nowrap;
        }
      }
      .group-231-AF7 {
        box-sizing: border-box;
        padding: 2.6rem 3.85rem 2.6rem 3.65rem;
        width: 20rem;
        align-items: center;
        display: flex;
        border: solid 0.5rem #ffba08;
        height: 100%;
        flex-direction: column;
        background-color: #fffae5;
        border-radius: 5rem;
        flex-shrink: 0;

        .soda-1-HKj {
          flex-shrink: 0;
          margin-bottom: 1rem;
          width: 10rem;
          height: 10rem;
          object-fit: cover;
          vertical-align: top;
        }
        .thc-ung-2YD {
          text-align: center;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.57;
          color: #ffba08;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .group-232-YFf {
        flex-direction: column;
        background-color: #fffae5;
        align-items: center;
        display: flex;
        border: solid 0.5rem #ffba08;
        border-radius: 5rem;
        box-sizing: border-box;
        padding: 2.6rem 3rem 2.6rem 2.8rem;
        width: 20rem;
        height: 100%;
        flex-shrink: 0;

        .fish-and-chips-1-GSZ {
          flex-shrink: 0;
          margin: 0rem 0rem 1rem 0.2rem;
          width: 10rem;
          height: 10rem;
          object-fit: cover;
          vertical-align: top;
        }
        .mn-n-km-zNZ {
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.57;
          color: #ffba08;
          font-family: Mitr, 'Source Sans Pro';
        }
      }
    }
    .auto-group-stqw-HsT {
      align-items: flex-start;
      flex-shrink: 0;
      margin-left: 20rem;
      width: calc(100% - 20rem);
      height: 55.5rem;
      display: flex;

      .auto-group-a7fb-2KF {
        flex-shrink: 0;
        margin-right: 12.3rem;
        width: 152.1rem;
        height: 100%;
        row-gap: 2.9rem;
        display: flex;
        flex-direction: column;

        .vector-McR {
          width: 152rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-arav-JGm {
          margin-right: 0.2rem;
          width: calc(100% - 0.2rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .g-rn-FC1 {
            margin-right: 108rem;
            font-size: 4rem;
            font-weight: 600;
            line-height: 1.57;
            color: #d00000;
            font-family: Mitr, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .group-259-nBw {
            margin-top: 0.3rem;
            display: flex;
            border: solid 0.1rem #d00000;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1rem 1.9rem 1.2rem 1.8rem;
            align-items: center;
            background-color: #ffffff;
            border-radius: 2rem;

            .gi-tng-dn-Jg5 {
              flex-shrink: 0;
              margin-right: 9.1rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.57;
              color: #d00000;
              font-family: Mitr, 'Source Sans Pro';
              white-space: nowrap;
            }
            .vector-peR {
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.2rem;
              width: 1.6rem;
              height: 1rem;
              object-fit: contain;
            }
          }
        }
        .auto-group-j7p1-hiD {
          display: flex;
          column-gap: 4rem;
          align-items: center;
          flex-shrink: 0;
          margin-left: 0.1rem;
          height: 41.4rem;

          .group-252-q3j {
            border: solid 0.15rem #d00000;
            padding: 8.4rem 2.5rem 4.6rem 2.5rem;
            width: 35rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            border-radius: 10rem;
            box-sizing: border-box;
            flex-shrink: 0;

            .chicken-wings-1-kRb {
              margin-bottom: 0.0408rem;
              width: 30rem;
              height: 14.9592rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .group-210-g4M {
              flex-direction: column;
              flex-shrink: 0;
              margin: 0rem 7.684rem 1.9rem 7.716rem;
              width: calc(100% - 15.4rem);
              align-items: center;
              display: flex;

              .cnh-g-rn-o8y {
                line-height: 1.57;
                color: #d00000;
                font-family: Mitr, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 2.4rem;
                font-weight: 500;
              }
              .item-50000--Kt1 {
                font-weight: 400;
                line-height: 1.1;
                color: #ffba08;
                font-family: Coiny, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.5365rem;
                font-size: 2.4rem;
              }
            }
            .group-209-eQV {
              height: 5rem;
              display: flex;
              background-color: #d00000;
              margin: 0rem 8.613rem 0rem 8.659rem;
              width: calc(100% - 17.2727rem);
              font-size: 2.2rem;
              font-weight: 500;
              color: #ffffff;
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              line-height: 1.57;
              font-family: Mitr, 'Source Sans Pro';
              border-radius: 3rem;
              flex-shrink: 0;
            }
          }
          .group-253-GAy {
            border: solid 0.15rem #d00000;
            border-radius: 10rem;
            box-sizing: border-box;
            height: 100%;
            align-items: center;
            flex-direction: column;
            background-color: #ffffff;
            flex-shrink: 0;
            padding: 5rem 2.5rem 4.6rem 2.5rem;
            width: 35rem;
            display: flex;

            .foods-you-should-never-freeze-1-nQD {
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              width: 30rem;
              height: 18.4rem;
            }
            .group-210-uzd {
              margin: 0rem 8.934rem 1.9rem 8.966rem;
              width: calc(100% - 17.9rem);
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .c-g-rn-3b3 {
                line-height: 1.57;
                color: #d00000;
                font-family: Mitr, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 2.4rem;
                font-weight: 500;
              }
              .item-75000--yzV {
                text-align: center;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.1;
                color: #ffba08;
                font-family: Coiny, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 0.0001rem;
                white-space: nowrap;
              }
            }
            .group-209-hfb {
              font-size: 2.2rem;
              line-height: 1.57;
              font-family: Mitr, 'Source Sans Pro';
              height: 5rem;
              display: flex;
              background-color: #d00000;
              width: calc(100% - 17.2727rem);
              color: #ffffff;
              align-items: center;
              border-radius: 3rem;
              flex-shrink: 0;
              margin: 0rem 8.613rem 0rem 8.659rem;
              font-weight: 500;
              white-space: nowrap;
              justify-content: center;
            }
          }
          .group-254-9Gh {
            box-sizing: border-box;
            width: 35rem;
            height: 100%;
            align-items: center;
            border: solid 0.15rem #d00000;
            border-radius: 10rem;
            padding: 4.2rem 2.5rem 4.6rem 2.5rem;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            flex-shrink: 0;

            .korean-fried-chicken-with-soy-garlic-glaze-1-4uT {
              vertical-align: top;
              flex-shrink: 0;
              width: 30rem;
              height: 19.2rem;
              object-fit: cover;
            }
            .group-210-Bz5 {
              margin: 0rem 8.684rem 1.9rem 8.716rem;
              width: calc(100% - 17.4rem);
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .i-g-st-X2M {
                color: #d00000;
                font-family: Mitr, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.57;
              }
              .item-65000--dr5 {
                margin-right: 0.0001rem;
                font-size: 2.4rem;
                line-height: 1.1;
                color: #ffba08;
                white-space: nowrap;
                text-align: center;
                font-weight: 400;
                font-family: Coiny, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
            .group-209-Yi9 {
              display: flex;
              align-items: center;
              background-color: #d00000;
              margin: 0rem 8.613rem 0rem 8.659rem;
              font-size: 2.2rem;
              font-weight: 500;
              color: #ffffff;
              border-radius: 3rem;
              justify-content: center;
              flex-shrink: 0;
              width: calc(100% - 17.2727rem);
              line-height: 1.57;
              font-family: Mitr, 'Source Sans Pro';
              height: 5rem;
              white-space: nowrap;
            }
          }
          .group-255-n6h {
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 4.8rem 2.5rem 4.6rem 2.5rem;
            width: 35rem;
            height: 100%;
            align-items: center;
            flex-direction: column;
            border: solid 0.15rem #d00000;
            display: flex;
            border-radius: 10rem;
            flex-shrink: 0;

            .chicken-selects-chicken-breast-meat-1-W2h {
              margin-bottom: 1.498rem;
              width: 30rem;
              height: 17.102rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .group-210-Dho {
              flex-direction: column;
              flex-shrink: 0;
              margin: 0rem 8.634rem 1.9rem 8.666rem;
              width: calc(100% - 17.3rem);
              align-items: center;
              display: flex;

              .i-g-rn-MJD {
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.57;
                color: #d00000;
                font-family: Mitr, 'Source Sans Pro';
              }
              .item-30000--V9X {
                flex-shrink: 0;
                margin-right: 0.0001rem;
                line-height: 1.1;
                font-family: Coiny, 'Source Sans Pro';
                color: #ffba08;
                white-space: nowrap;
                text-align: center;
                font-size: 2.4rem;
                font-weight: 400;
              }
            }
            .group-209-og1 {
              margin: 0rem 8.613rem 0rem 8.659rem;
              width: calc(100% - 17.2727rem);
              line-height: 1.57;
              display: flex;
              align-items: center;
              font-size: 2.2rem;
              color: #ffffff;
              background-color: #d00000;
              border-radius: 3rem;
              height: 5rem;
              font-weight: 500;
              font-family: Mitr, 'Source Sans Pro';
              justify-content: center;
              flex-shrink: 0;
              white-space: nowrap;
            }
          }
        }
      }
      .group-127-22y {
        display: flex;
        background-color: #d00000;
        border-radius: 1.5rem 0 0 1.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 7.5rem;
        align-items: center;
        padding: 2.5rem 2rem 3rem 1.9rem;
        flex-direction: column;

        .icon-messager-9dP {
          margin-bottom: 3.1rem;
          width: 3.6rem;
          height: 3.7rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-5mw {
          height: 3.2001rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-left: 0.2001rem;
          width: 3.2001rem;
        }
      }
    }
    .auto-group-2lpf-P1w {
      margin: 0rem 19.8rem 0rem 20rem;
      width: calc(100% - 39.8rem);
      height: 41.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-257-hHX {
        align-items: center;
        display: flex;
        border: solid 0.15rem #d00000;
        flex-shrink: 0;
        padding: 4.2rem 2.5rem 4.6rem 2.5rem;
        width: 35rem;
        height: 100%;
        cursor: pointer;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 10rem;
        margin-right: 4.1rem;
        box-sizing: border-box;

        .korean-fried-chicken-with-soy-garlic-glaze-2-QSq {
          height: 19.2rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 30rem;
        }
        .group-240-8Nq {
          width: calc(100% - 17.4rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 8.684rem 1.9rem 8.716rem;

          .i-g-st-rZj {
            color: #d00000;
            font-family: Mitr, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.57;
          }
          .item-65000--C7o {
            text-align: center;
            color: #ffba08;
            font-family: Coiny, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 0.0001rem;
            font-weight: 400;
            line-height: 1.1;
            flex-shrink: 0;
            font-size: 2.4rem;
          }
        }
        .group-241-7Vf {
          margin: 0rem 8.613rem 0rem 8.659rem;
          font-weight: 500;
          color: #ffffff;
          background-color: #d00000;
          width: calc(100% - 17.2727rem);
          align-items: center;
          justify-content: center;
          font-family: Mitr, 'Source Sans Pro';
          display: flex;
          border-radius: 3rem;
          height: 5rem;
          font-size: 2.2rem;
          line-height: 1.57;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .group-256-9hF {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 4rem;
        width: 35rem;
        height: 100%;
        align-items: center;
        border-radius: 10rem;
        box-sizing: border-box;
        padding: 5rem 2.5rem 4.6rem 2.5rem;
        border: solid 0.15rem #d00000;
        background-color: #ffffff;

        .foods-you-should-never-freeze-2-GWy {
          width: 30rem;
          height: 18.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .group-238-1Df {
          margin: 0rem 8.934rem 1.9rem 8.966rem;
          width: calc(100% - 17.9rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .c-g-rn-Xxh {
            text-align: center;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.57;
            color: #d00000;
            font-family: Mitr, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-75000--sWm {
            text-align: center;
            color: #ffba08;
            white-space: nowrap;
            line-height: 1.1;
            font-family: Coiny, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 0.0001rem;
            font-size: 2.4rem;
            font-weight: 400;
          }
        }
        .group-239-bBs {
          height: 5rem;
          border-radius: 3rem;
          margin: 0rem 8.613rem 0rem 8.659rem;
          width: calc(100% - 17.2727rem);
          font-size: 2.2rem;
          font-weight: 500;
          color: #ffffff;
          white-space: nowrap;
          justify-content: center;
          flex-shrink: 0;
          line-height: 1.57;
          font-family: Mitr, 'Source Sans Pro';
          display: flex;
          background-color: #d00000;
          align-items: center;
        }
      }
      .group-258-33s {
        flex-shrink: 0;
        margin-right: 4rem;
        width: 35rem;
        border-radius: 10rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        border: solid 0.15rem #d00000;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 4.8rem 2.5rem 4.6rem 2.5rem;
        height: 100%;

        .chicken-selects-chicken-breast-meat-2-kU5 {
          margin-bottom: 1.498rem;
          width: 30rem;
          height: 17.102rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .group-234-GhK {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 8.634rem 1.9rem 8.666rem;
          width: calc(100% - 17.3rem);
          align-items: center;

          .i-g-rn-ohF {
            font-family: Mitr, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.57;
            color: #d00000;
          }
          .item-30000--Yuj {
            font-weight: 400;
            font-family: Coiny, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            font-size: 2.4rem;
            color: #ffba08;
            flex-shrink: 0;
            margin-right: 0.0001rem;
            line-height: 1.1;
          }
        }
        .group-235-HMX {
          border-radius: 3rem;
          margin: 0rem 8.613rem 0rem 8.659rem;
          height: 5rem;
          line-height: 1.57;
          color: #ffffff;
          display: flex;
          background-color: #d00000;
          width: calc(100% - 17.2727rem);
          font-size: 2.2rem;
          flex-shrink: 0;
          font-weight: 500;
          align-items: center;
          justify-content: center;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .group-251-jDX {
        border: solid 0.15rem #d00000;
        background-color: #ffffff;
        border-radius: 10rem;
        align-items: center;
        flex-direction: column;
        width: 35rem;
        height: 100%;
        display: flex;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 8.4rem 2.5rem 4.6rem 2.5rem;

        .chicken-wings-2-erH {
          margin-bottom: 0.0408rem;
          width: 30rem;
          height: 14.9592rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .group-236-BrD {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 7.684rem 1.9rem 7.716rem;
          width: calc(100% - 15.4rem);

          .cnh-g-rn-ibF {
            text-align: center;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.57;
            color: #d00000;
            font-family: Mitr, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-50000--fFb {
            font-weight: 400;
            line-height: 1.1;
            color: #ffba08;
            font-family: Coiny, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.5365rem;
            font-size: 2.4rem;
          }
        }
        .group-237-y1P {
          font-family: Mitr, 'Source Sans Pro';
          flex-shrink: 0;
          width: calc(100% - 17.2727rem);
          color: #ffffff;
          border-radius: 3rem;
          font-weight: 500;
          display: flex;
          white-space: nowrap;
          margin: 0rem 8.613rem 0rem 8.659rem;
          line-height: 1.57;
          align-items: center;
          justify-content: center;
          background-color: #d00000;
          height: 5rem;
          font-size: 2.2rem;
        }
      }
    }
  }
  .group-29-XBK {
    display: flex;
    align-items: center;
    background-color: #333333;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 6.5rem 13.5rem 7.666rem 21.9rem;
    width: 100%;
    height: 45.4rem;

    .auto-group-o1kq-pRK {
      margin-right: 7.4rem;
      width: 48.2rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-k8az-Z81 {
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0 0.6rem;
        width: 100%;
        display: flex;

        .group-278-VnM {
          flex-shrink: 0;
          margin: 0rem 0rem 1.5rem 8.3rem;
          width: 10rem;
          border: solid 0.4rem #ffba08;
          box-sizing: border-box;
          background-color: #ffffff;
          border-radius: 4rem;

          .letter-f-1-q5X {
            width: 10rem;
            height: 10rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .fastfoodcom-jRo {
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.8rem;
          font-weight: 600;
          line-height: 1.57;
          color: #f6aa1c;
        }
      }
      .group-282-sH7 {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-maxm-R3j {
          margin: 0rem 25.1rem 1.647rem 0.248rem;
          width: calc(100% - 25.3476rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .icon-alternate-phone-Y8M {
            margin-right: 1.6524rem;
            width: 2.7rem;
            height: 2.9531rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item-084-0123456789-req {
            font-weight: 400;
            line-height: 1.57;
            color: #f6aa1c;
            font-family: Mitr, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2531rem;
            font-size: 2rem;
          }
        }
        .auto-group-fxch-mmo {
          align-items: flex-end;
          flex-shrink: 0;
          margin: 0rem 0rem 1.606rem 0.148rem;
          width: calc(100% - 0.1476rem);
          display: flex;

          .icon-alternate-map-marker-uND {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2.4274rem;
            width: 2.025rem;
            height: 2.9531rem;
          }
          .nguyn-hu-th-phng-tn-phong-q7-pk5 {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.57;
            color: #f6aa1c;
            font-family: Mitr, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2938rem;
          }
        }
        .auto-group-rfyo-wJu {
          margin-right: 23.9rem;
          width: calc(100% - 23.9rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .icon-at-gXP {
            margin-right: 1.9261rem;
            width: 2.6739rem;
            height: 2.9531rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .fastfoodgmailcom-E37 {
            font-weight: 400;
            line-height: 1.57;
            color: #f6aa1c;
            font-family: Mitr, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.3344rem;
            font-size: 2rem;
          }
        }
      }
    }
    .group-285-xE1 {
      margin: 0rem 13.3rem 9.234rem 0rem;
      width: 15.7rem;
      flex-shrink: 0;

      .thng-tin-VDw {
        font-weight: 600;
        line-height: 1.57;
        color: #f6aa1c;
        font-family: Mitr, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2.8rem;
      }
      .group-280-dL9 {
        width: 100%;
        row-gap: 1.2rem;
        display: flex;
        flex-direction: column;

        .tin-tc-P4R {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
        }
        .tuyn-dng-j8H {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .khuyn-mi-fnd {
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 0.1rem;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
        }
        .nhng-quyn-CnZ {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .group-284-wVF {
      margin: 0rem 13rem 13.934rem 0rem;
      width: 24rem;
      flex-shrink: 0;

      .h-tr-sdo {
        font-family: Mitr, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 1.57;
        color: #f6aa1c;
      }
      .group-281-1zu {
        width: 100%;
        row-gap: 1.2rem;
        display: flex;
        flex-direction: column;

        .bo-mt-thng-tin-Mos {
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
          color: #f6aa1c;
        }
        .chnh-sch-giao-hng-HhX {
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 400;
        }
        .chm-sc-khch-hng-E6y {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .group-283-xYm {
      margin-bottom: 3.9344rem;
      width: 35rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-oawr-WKP {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .fastfood-social-Syj {
          font-size: 2.8rem;
          font-weight: 600;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.7rem;
        }
        .auto-group-st7o-BAd {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 20.962rem 3.4rem 0rem;
          width: calc(100% - 20.9621rem);

          .vector-K1w {
            height: 6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2rem;
            width: 6.0365rem;
          }
          .vector-SsF {
            flex-shrink: 0;
            width: 6.0013rem;
            height: 6rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .ng-k-nhn-email-bVF {
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.57;
          color: #f6aa1c;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .group-34-v1j {
        padding: 0.6rem 0.778rem 0.6rem 2.7rem;
        width: 100%;
        display: flex;
        align-items: center;
        border: solid 0.12rem #f6aa1c;
        background-color: #ffffff;
        border-radius: 3.6rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 6rem;

        .enter-your-email-qPb {
          flex-shrink: 0;
          margin: 0rem 8.437rem 0.1rem 0rem;
          font-size: 2.2rem;
          font-weight: 300;
          line-height: 1.57;
          color: #858585;
          font-family: Mitr, 'Source Sans Pro';
          white-space: nowrap;
        }
        .group-33-kFf {
          background-position: center;
          background-image: url('REPLACE_IMAGE:1:1556');
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.01rem 1.35rem 1.01rem 0.832rem;
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;

          .group-32-HWV {
            width: 3.0034rem;
            height: 2.7803rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
    }
  }
}
